Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

.lintstagedrc:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json,yaml}": [
    "prettier --write --plugin-search-dir=.",
    "prettier --check --plugin-search-dir=."
  ],
  "*.{js,ts,svelte}": "eslint"
}

Add support for external special receivers
  src/routes/(app)/admin/email-alias/+page.server.ts
  src/routes/(app)/admin/email-alias/[email]/+page.server.ts
  src/routes/(app)/admin/email-alias/emailutils.test.ts
  src/routes/(app)/admin/email-alias/emailutils.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: input
  src/lib/components/Input.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: profile page
  package.json
  pnpm-lock.yaml
  src/routes/(app)/members/[studentId]/+page@(app).svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Simplify email regex
  src/routes/(app)/admin/email-alias/emailutils.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add support for external special receivers (#753)
  src/routes/(app)/admin/email-alias/+page.server.ts
  src/routes/(app)/admin/email-alias/[email]/+page.server.ts
  src/routes/(app)/admin/email-alias/emailutils.test.ts
  src/routes/(app)/admin/email-alias/emailutils.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix image resizing
  src/routes/(app)/members/[studentId]/profile-picture/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix image resizing (#755)
  src/routes/(app)/members/[studentId]/profile-picture/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: settings page
  src/lib/member/settings.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

test github action
  .github/workflows/build-prod-image.yml
  Dockerfile
  svelte.config.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove feature flag for expenses
  src/lib/utils/featureFlag.ts
  src/routes/routes.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add CPU to expenses (#751)
  src/routes/(app)/expenses/config.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove feature flag for expenses (#756)
  src/lib/utils/featureFlag.ts
  src/routes/routes.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

enqueue incoming requests for more robustness
  poppler-server/index.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Queue requests in poppler-server (#760)
  poppler-server/index.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add minio health check and view status in admin/debug
  src/lib/files/fileHandler.ts
  src/lib/search/syncDocuments.ts
  src/lib/server/loadHomeData.ts
  src/routes/(app)/admin/debug/+page.server.ts
  src/routes/(app)/admin/debug/+page.svelte
  src/routes/(app)/admin/minio/+page.server.ts
  src/routes/(app)/admin/minio/+page.svelte
  src/routes/(app)/documents/+page.server.ts
  src/routes/(app)/documents/requirements/+page.server.ts
  src/routes/(app)/members/[studentId]/profile-picture/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Translated text in add expense
  src/routes/(app)/expenses/upload/+page.svelte
  src/routes/(app)/expenses/upload/ExpenseReceipt.svelte
  src/routes/(app)/expenses/upload/ExpenseReceiptRow.svelte
  src/routes/(app)/expenses/upload/ExpenseReceiptsForm.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Translated text in add expense (#762)
  src/routes/(app)/expenses/upload/+page.svelte
  src/routes/(app)/expenses/upload/ExpenseReceipt.svelte
  src/routes/(app)/expenses/upload/ExpenseReceiptRow.svelte
  src/routes/(app)/expenses/upload/ExpenseReceiptsForm.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Move button to bottom right and make it circular. (#734)
  src/routes/(app)/members/[studentId]/+page@(app).svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add minio health check and view status in admin/debug (#761)
  src/lib/files/fileHandler.ts
  src/lib/search/syncDocuments.ts
  src/lib/server/loadHomeData.ts
  src/routes/(app)/admin/debug/+page.server.ts
  src/routes/(app)/admin/debug/+page.svelte
  src/routes/(app)/admin/minio/+page.server.ts
  src/routes/(app)/admin/minio/+page.svelte
  src/routes/(app)/documents/+page.server.ts
  src/routes/(app)/documents/requirements/+page.server.ts
  src/routes/(app)/members/[studentId]/profile-picture/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix link to github and add search button in app
  src/routes/(app)/app/home/AppHomeNavigation.svelte
  src/routes/AppHeader.svelte
  src/routes/Footer.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Update sv.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Update en.json
  src/translations/en.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Changed DWWW to CPU on home page (#764)
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Fix link to github and add search button in app (#763)
  src/routes/(app)/app/home/AppHomeNavigation.svelte
  src/routes/AppHeader.svelte
  src/routes/Footer.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

create dockerfile
  Dockerfile
Due: none

Remove accidentaly left behind slash
  src/routes/Footer.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add dockerfile
  Dockerfile
Due: none

Remove Jenkinsfile
  Jenkinsfile
Due: none

Add new deploy workflow
  .github/workflows/deploy.yml
  Dockerfile
  svelte.config.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Order governing documents alphabetically
  src/routes/(app)/documents/governing/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Include current data when editing governing documents
  src/routes/(app)/documents/governing/[id]/edit/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Update +page@(app).svelte
  src/routes/(app)/members/[studentId]/+page@(app).svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Update +page.svelte
  src/routes/(app)/admin/minio/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Update +page.svelte
  src/routes/(app)/admin/debug/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix it again :D
  src/database/prisma/migrations/20250224194704_add_language_tags_to_bilingual_fields/migration.sql
Due: none
