Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

.lintstagedrc:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json,yaml}": [
    "prettier --write --plugin-search-dir=.",
    "prettier --check --plugin-search-dir=."
  ],
  "*.{js,ts,svelte}": "eslint"
}

replace extendedPrisma with authorizedPrismaClient in various modules
  src/hooks.server.ts
  src/lib/server/authorizedPrisma.ts
  src/lib/server/extendedPrisma.ts
  src/lib/server/shop/addToCart/addToCart.ts
  src/lib/server/shop/addToCart/reservations.ts
  src/lib/server/shop/cart/getCart.ts
  src/routes/(app)/admin/debug/+page.server.ts
  src/routes/(app)/shop/tickets/[slug]/manage/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Try stuff
  src/routes/(app)/booking/BookingEditor.svelte
  src/routes/(app)/booking/create/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add database entry
  .vscode/settings.json
  src/database/prisma/migrations/20250922200642_add_groups_to_booking_request/migration.sql
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/database/seed/.snaplet/dataModel.json
  src/lib/components/PosSelector.svelte
  src/routes/(app)/booking/BookingEditor.svelte
  src/routes/(app)/booking/[id]/edit/+page.server.ts
  src/routes/(app)/booking/create/+page.server.ts
  src/routes/(app)/booking/schema.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix failing tests in shop
  src/lib/server/shop/mock.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Improved error handling
  .env
  src/lib/components/home/Minecraft.svelte
  src/lib/server/loadHomeData.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Only allow pdf in expenses
  src/routes/(app)/expenses/types.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Use cache, remove wikiData promise, move logic to new file
  src/lib/components/home/Wiki.svelte
  src/lib/server/loadHomeData.ts
  src/lib/server/wiki/wiki.ts
  src/lib/utils/cache.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix review issues
  src/lib/components/home/Minecraft.svelte
  src/lib/components/home/ReadmeList.svelte
  src/lib/server/wiki/wiki.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Slightly redesigned logged in homepage (#836)
  .env
  package.json
  pnpm-lock.yaml
  src/lib/components/forms/FormSelect.svelte
  src/lib/components/home/CodeWithDWWW.svelte
  src/lib/components/home/Documents.svelte
  src/lib/components/home/Minecraft.svelte
  src/lib/components/home/ReadmeList.svelte
  src/lib/components/home/Wiki.svelte
  src/lib/server/loadHomeData.ts
  src/lib/server/wiki/wiki.ts
  src/lib/utils/cache.ts
  src/routes/(app)/home/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix spelling
  src/lib/server/loadHomeData.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

very cool 🎉
  src/routes/(app)/readme/[year]/[number]/+page.svelte
  src/routes/(app)/readme/[year]/[number]/Readme.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix typos in messages
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

remove unused comment
  src/routes/AppBottomNav.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix typo in messages
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Fix merge conflict
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Happy 1000th commit!!!! (#882)
  src/lib/server/loadHomeData.ts
  src/routes/(app)/readme/[year]/[number]/+page.svelte
  src/routes/(app)/readme/[year]/[number]/Readme.svelte
  src/routes/AppBottomNav.svelte
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

update minio endpoint
  .github/workflows/deploy.yml
Due: none

Create kubernetes yaml for podman dev
  podman-dev.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Format podman-dev.yaml
  podman-dev.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Create kubernetes yaml for podman dev (#885)
  podman-dev.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

exit early and silence errors from docker rm
  shell.nix
Due: none

shell.nix: exit early and silence errors from docker rm (#889)
  shell.nix
Due: none

remove search button from home in dsek app
  src/routes/(app)/app/home/AppHomeNavigation.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix skipping
  src/lib/zod/schemas.ts
  src/routes/(app)/members/[studentId]/+page.server.ts
  src/routes/(app)/members/[studentId]/+page@(app).svelte
  src/routes/(app)/members/[studentId]/PhadderGroupModal.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

remove console logs
  src/routes/(app)/members/[studentId]/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

remove unused import
  src/routes/(app)/members/[studentId]/+page@(app).svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix formating
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: Add QR code scanning for ticket consumption
  package.json
  pnpm-lock.yaml
  src/lib/components/QRCodeScanner.svelte
  src/lib/components/shop/inventory/InventoryItemPage.svelte
  src/lib/hooks/useQRScanner.ts
  src/lib/server/shop/consumable.ts
  src/routes/(app)/admin/qr/+page.server.ts
  src/routes/(app)/admin/qr/+page.svelte
  src/routes/(app)/events/[slug]/+page.server.ts
  src/routes/(app)/events/[slug]/+page.svelte
  src/routes/(app)/events/[slug]/scan/+page.server.ts
  src/routes/(app)/events/[slug]/scan/+page.svelte
  src/routes/(app)/events/[slug]/scan/[consumable]/+page.server.ts
  src/routes/(app)/events/[slug]/scan/[consumable]/+page.svelte
  src/routes/(app)/events/[slug]/scan/[consumable]/consume.ts
  src/routes/(app)/shop/inventory/[id]/consume/+page.server.ts
  src/routes/(app)/shop/inventory/[id]/consume/+page.svelte
  src/routes/(app)/shop/tickets/[slug]/manage/+page.server.ts
  src/routes/(app)/shop/tickets/[slug]/manage/+page.svelte
  src/routes/routes.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: resolve linting and formatting issues
  src/database/seed/.snaplet/config.json
  src/database/seed/.snaplet/dataExamples.json
  src/routes/(app)/admin/qr/+page.server.ts
  src/routes/(app)/events/[slug]/+page.svelte
  src/routes/(app)/events/[slug]/scan/[consumable]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

#773 set own phaddergroup (#824)
  src/lib/zod/schemas.ts
  src/routes/(app)/members/[studentId]/+page.server.ts
  src/routes/(app)/members/[studentId]/+page@(app).svelte
  src/routes/(app)/members/[studentId]/PhadderGroupModal.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add a scaffold remove button
  src/routes/(app)/expenses/ExpenseDetailView.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: add visual indication of recent consumption
  src/routes/(app)/events/[slug]/scan/[consumable]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fixed hardcoded minio urls to getFileUrl
  src/database/seed/data.ts
  src/lib/components/shop/cart/CartItem/CartItemEvent.svelte
  src/lib/components/shop/cart/Reservation/CartItemEvent.svelte
  src/lib/components/shop/cart/Reservation/CartReservation.svelte
  src/lib/components/shop/inventory/Consumable.svelte
  src/lib/components/shop/inventory/InventoryItemPage.svelte
  src/routes/(app)/shop/tickets/TicketCard/TicketEvent.svelte
  src/routes/(app)/shop/tickets/[slug]/+page@(app).svelte
  src/routes/(nollning)/nollning/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: missing translations
  src/routes/routes.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fixes corners around web minecraft component
  src/lib/components/home/Minecraft.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

chore: remove snaplet config files
  src/database/seed/.snaplet/config.json
  src/database/seed/.snaplet/dataExamples.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore: reset config.json to default
  src/database/seed/.snaplet/config.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: minor improvements
  src/routes/(app)/events/[slug]/scan/[consumable]/+page.svelte
  src/routes/(app)/events/[slug]/scan/[consumable]/consume.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint
