Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

.lintstagedrc:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json,yaml}": [
    "prettier --write --plugin-search-dir=.",
    "prettier --check --plugin-search-dir=."
  ],
  "*.{js,ts,svelte}": "eslint"
}

fix news creating preview not switching languages
  src/routes/(app)/news/ArticleEditor.svelte
  src/routes/(app)/news/ArticleForm.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

update nollning reveal dates
  src/lib/components/postReveal/types.ts
  src/routes/(nollning)/nolla/+layout.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fetch umami tracking script from environment
  .env
  src/app.html
  src/routes/(app)/+layout.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

updated schema to give update permissions for event to author
  src/database/schema.zmodel
Due: none

Implement Open Graph Protocol (#799)
  src/lib/components/shop/cart/CartPage.svelte
  src/lib/components/shop/inventory/InventoryItemPage.svelte
  src/lib/components/shop/payments/CallbackPage.svelte
  src/lib/seo/SEO.svelte
  src/routes/(app)/admin/access/+page.svelte
  src/routes/(app)/admin/access/[apiName]/+page.svelte
  src/routes/(app)/admin/alerts/+page.svelte
  src/routes/(app)/admin/doors/+page.svelte
  src/routes/(app)/admin/doors/edit/[slug]/+page.svelte
  src/routes/(app)/app/account/+page.svelte
  src/routes/(app)/app/home/+page.svelte
  src/routes/(app)/committees/CommitteePage.svelte
  src/routes/(app)/home/+page.svelte
  src/routes/(app)/members/[studentId]/+page@(app).svelte
  src/routes/(app)/news/+page.svelte
  src/routes/(app)/news/[slug]/+page.svelte
  src/routes/(app)/search/+page.svelte
  src/routes/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix prettier formatting
  src/routes/(app)/news/ArticleEditor.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix news creating preview not switching languages (#815)
  src/routes/(app)/news/ArticleEditor.svelte
  src/routes/(app)/news/ArticleForm.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

updated schema to give update permissions for event to author (#816)
  src/database/schema.zmodel
Due: none

date sort for mandates in profile
  src/routes/(app)/members/[studentId]/+page@(app).svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Move phaddergroup dropdown to unhidden area
  src/routes/(app)/members/[studentId]/UpdateMemberForm.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: :truck: move logic
  src/lib/components/QRCodeScanner.svelte
  src/lib/qr/QRCodeScanner.svelte
  src/routes/(app)/admin/qr/+page.server.ts
  src/routes/(app)/admin/qr/+page.svelte
  src/routes/(app)/events/[slug]/+page.server.ts
  src/routes/(app)/events/[slug]/+page.svelte
  src/routes/(app)/events/[slug]/scan/+page.svelte
  src/routes/(app)/events/[slug]/scan/[consumable]/+page.server.ts
  src/routes/(app)/events/[slug]/scan/[consumable]/+page.svelte
  src/routes/(app)/events/[slug]/scan/[consumable]/consume.ts
  src/routes/(app)/shop/tickets/[slug]/manage/+page.svelte
  src/routes/(app)/shop/tickets/[slug]/scan/+page.svelte
  src/routes/routes.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Refactors navigation import path
  src/routes/(app)/events/[slug]/scan/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: :rotating_light: lint
  src/routes/(app)/admin/qr/+page.server.ts
  src/routes/(app)/events/[slug]/scan/[consumable]/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: :art: add translations and styling
  src/routes/(app)/events/[slug]/scan/+page.server.ts
  src/routes/(app)/events/[slug]/scan/+page.svelte
  src/routes/(app)/events/[slug]/scan/[consumable]/+page.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: :rotating_light: lint
  src/routes/(app)/admin/qr/+page.svelte
  src/routes/(app)/events/[slug]/scan/+page.server.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

format the news notifications settings better
  src/lib/components/member/SubscriptionTags.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

format the news notifications settings better (#823)
  src/lib/components/member/SubscriptionTags.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

ADD SENTRY
  .gitignore
  package.json
  pnpm-lock.yaml
  src/hooks.client.ts
  src/hooks.server.ts
  vite.config.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Move phadder group back to hidden area.
  src/routes/(app)/members/[studentId]/UpdateMemberForm.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add popup to chose phadder group.
  src/routes/(app)/members/[studentId]/+page.server.ts
  src/routes/(app)/members/[studentId]/+page@(app).svelte
  src/routes/(app)/members/[studentId]/PhadderGroupModal.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix popup showing up on other profiles.
  src/routes/(app)/members/[studentId]/+page@(app).svelte
  src/routes/(app)/members/[studentId]/PhadderGroupModal.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Don't allow the upload of webp images to expenses.
  src/routes/(app)/expenses/upload/ExpenseReceipt.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

deps: use latest sentry
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix: use env vars for sentry
  .env
  src/hooks.client.ts
  src/hooks.server.ts
  vite.config.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add sentry auth token in build
  .github/workflows/deploy.yml
  Dockerfile
Due: none

fix: don't run sentry in dev and add version
  src/hooks.client.ts
  src/hooks.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add sentry org and project to upload source maps
  .github/workflows/deploy.yml
  Dockerfile
Due: none

sort songs by creation date
  src/routes/(app)/songbook/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

sort songs by creation date (#826)
  src/routes/(app)/songbook/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Rename all defaults of multi-language fields to <field>Sv and ensure maps
  src/database/schema.zmodel
Due: none

Fix misspelling
  src/database/schema.zmodel
Due: none

Fix it again :D
  src/database/prisma/migrations/20250224194704_add_language_tags_to_bilingual_fields/migration.sql
Due: none

Manually correct SQL migration script
  src/database/prisma/migrations/20250224194704_add_language_tags_to_bilingual_fields/migration.sql
  src/database/prisma/schema.prisma
  src/database/seed/.snaplet/dataModel.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Add important comment
  src/database/prisma/migrations/20250224194704_add_language_tags_to_bilingual_fields/migration.sql
Due: none
