Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

.lintstagedrc:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json,yaml}": [
    "prettier --write --plugin-search-dir=.",
    "prettier --check --plugin-search-dir=."
  ],
  "*.{js,ts,svelte}": "eslint"
}

New design tabitem (#1018)
  src/lib/components/ui/tabs/index.ts
  src/lib/components/ui/tabs/tabs-content.svelte
  src/lib/components/ui/tabs/tabs-list.svelte
  src/lib/components/ui/tabs/tabs-trigger.svelte
  src/lib/components/ui/tabs/tabs.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

don't expose password in scheduler service logs
  scheduler-service/main.go
Due: none

added password auth to scheduler
  scheduler-service/.env
  scheduler-service/main.go
Due: none

add function for retrieving decrypted jwt
  src/lib/server/getDecryptedJWT.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add proof of concept for user auth via jwt in scheduler service
  scheduler-service/authMiddleware.go
  scheduler-service/go.mod
  scheduler-service/go.sum
Due: none

also store id_token in session token for later decryption
  src/hooks.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

read port from .env when starting scheduler service
  scheduler-service/.env
  scheduler-service/main.go
Due: none

remove global context variable in scheduler
  scheduler-service/main.go
  scheduler-service/requestHandler.go
  scheduler-service/taskHandler.go
Due: none

move code out of main.go file in scheduler service
  scheduler-service/databaseHandler.go
  scheduler-service/main.go
  scheduler-service/rateLimitMiddleware.go
  scheduler-service/requestHandler.go
  scheduler-service/taskHandler.go
Due: none

store user identifier with scheduled tasks
  scheduler-service/requestHandler.go
  scheduler-service/taskHandler.go
Due: none

rename `executed` field to `has_executed`
  scheduler-service/main.go
Due: none

add rate limiting to scheduler service
  scheduler-service/go.mod
  scheduler-service/go.sum
  scheduler-service/main.go
Due: none

initial scheduling service
  scheduler-service/.env
  scheduler-service/go.mod
  scheduler-service/go.sum
  scheduler-service/main.go
Due: none

add GET endpoint to scheduler for retrieving tasks per user
  scheduler-service/main.go
  scheduler-service/requestHandler.go
Due: none

improve JWT validation and subject handling in scheduler
  scheduler-service/.env
  scheduler-service/authMiddleware.go
  scheduler-service/requestHandler.go
Due: none

remove hardcoded values from scheduler auth
  scheduler-service/.env
  scheduler-service/authMiddleware.go
Due: none

use query params for scheduler GET auth
  scheduler-service/authMiddleware.go
Due: none

Add door access delete dialog
  src/routes/(app)/admin/doors/edit/[slug]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add /admin/doors empty state page
  src/routes/(app)/admin/doors/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Implement /admin/doors layout
  src/routes/(app)/admin/doors/+layout.server.ts
  src/routes/(app)/admin/doors/+layout.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove whitespace in doors +page.server.ts
  src/routes/(app)/admin/doors/edit/[slug]/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add door access list
  src/routes/(app)/admin/doors/edit/[slug]/+page.server.ts
  src/routes/(app)/admin/doors/edit/[slug]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add door access rule form
  src/routes/(app)/admin/doors/edit/[slug]/+page.server.ts
  src/routes/(app)/admin/doors/edit/[slug]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Move door loading from page to layout
  src/routes/(app)/admin/doors/+layout.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Refactor door access management
  src/database/seed/data.ts
  src/routes/(app)/admin/doors/+error.svelte
  src/routes/(app)/admin/doors/+layout.svelte
  src/routes/(app)/admin/doors/+page.svelte
  src/routes/(app)/admin/doors/edit/[slug]/+page.server.ts
  src/routes/(app)/admin/doors/edit/[slug]/+page.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Enhance form validation and fix date handling
  src/routes/(app)/admin/doors/edit/[slug]/+page.server.ts
  src/routes/(app)/admin/doors/edit/[slug]/+page.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Prefer non-relative import suggestions
  .vscode/settings.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

draft 2
  src/database/prisma/migrations/20251124165427_/migration.sql
  src/database/prisma/migrations/20251124193841_/migration.sql
  src/database/prisma/migrations/20251124204050_/migration.sql
  src/database/prisma/migrations/20251124204155_/migration.sql
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/database/seed/.snaplet/dataModel.json
  src/lib/utils/getTotalInventoryValue.ts
  src/routes/(app)/admin/stocklist/+page.server.ts
  src/routes/(app)/admin/stocklist/+page.svelte
  src/routes/(app)/admin/stocklist/addproduct/+page.server.ts
  src/routes/(app)/admin/stocklist/addproduct/+page.svelte
  src/routes/(app)/admin/stocklist/stockchange/+page.server.ts
  src/routes/(app)/admin/stocklist/stockchange/+page.svelte
  src/routes/(app)/admin/stocklist/treasury/+page.server.ts
  src/routes/(app)/admin/stocklist/treasury/+page.svelte
  src/routes/(app)/api/admin/stocklist/+server.ts
  src/routes/routes.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add command dialog
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Add command dialog part 2
  src/lib/components/images/CommitteeIcon.svelte
  src/lib/components/search/ArticleSearchResult.svelte
  src/lib/components/search/CommandDialog.svelte
  src/lib/components/search/CommitteeSearchResult.svelte
  src/lib/components/search/DocumentSearchResult.svelte
  src/lib/components/search/EventSearchResult.svelte
  src/lib/components/search/MemberSearchResult.svelte
  src/lib/components/search/PositionSearchResult.svelte
  src/lib/components/search/SongSearchResult.svelte
  src/lib/components/ui/avatar/avatar.svelte
  src/lib/components/ui/badge/badge.svelte
  src/lib/components/ui/command/command-dialog.svelte
  src/lib/components/ui/command/command-empty.svelte
  src/lib/components/ui/command/command-group.svelte
  src/lib/components/ui/command/command-input.svelte
  src/lib/components/ui/command/command-item.svelte
  src/lib/components/ui/command/command-link-item.svelte
  src/lib/components/ui/command/command-list.svelte
  src/lib/components/ui/command/command-separator.svelte
  src/lib/components/ui/command/command-shortcut.svelte
  src/lib/components/ui/command/command.svelte
  src/lib/components/ui/command/index.ts
  src/lib/search/searchTypes.ts
  src/lib/search/sync.ts
  src/routes/(app)/Navbar.svelte
  src/routes/(app)/medals/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Ignore svelte/no-navigation-without-resolv
  eslint.config.mjs
Due: none

Fix padding
  src/lib/components/ui/command/command-dialog.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add checkbox css
  src/lib/components/ui/checkbox/checkbox.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add checkbox component
  src/lib/components/ui/checkbox/checkbox.svelte
  src/lib/components/ui/checkbox/index.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix formatting
  src/lib/components/ui/checkbox/index.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

New design checkbox (#1020)
  src/lib/components/ui/checkbox/checkbox.svelte
  src/lib/components/ui/checkbox/index.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Command was run
  src/lib/components/ui/checkbox/checkbox.svelte
  src/lib/components/ui/checkbox/index.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

CoiceBox checkbox variant implemented
  src/lib/components/ChoiceBox.svelte
  src/lib/components/ui/checkbox/checkbox.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Added checkbox's properties to choicebox
  src/lib/components/ChoiceBox.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

redundant imports
  src/lib/components/RadioChoiceBoxGroup.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint
