Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

.lintstagedrc:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json,yaml}": [
    "prettier --write --plugin-search-dir=.",
    "prettier --check --plugin-search-dir=."
  ],
  "*.{js,ts,svelte}": "eslint"
}

Add language switcher to mobile landing page
  src/routes/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Minor improvements of slogan translations
  src/translations/en.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Redirect user who buy free stuff to their inventory
  src/lib/components/shop/cart/Reservation/CartReservation.svelte
  src/lib/server/shop/cart/actions.ts
  src/lib/server/shop/payments/purchase.ts
  src/lib/server/shop/tickets/actions.ts
  src/routes/(app)/shop/tickets/+page.server.ts
  src/routes/(nollning)/nollning/events/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Move feedback button to bottom left
  src/routes/(app)/+layout.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Disable notification updates and cache db calls
  src/hooks.server.helpers.ts
  src/routes/(app)/admin/alerts/+page.server.ts
  src/routes/+layout.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Only cache logged out access policies
  src/hooks.server.helpers.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

239 search bar (#344)
  src/lib/components/Search.svelte
  src/routes/(app)/api/members/membersSearch.ts
  src/routes/(app)/search/+page.server.ts
  src/routes/(app)/search/+page.svelte
  src/routes/Navbar.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add nolla access policy
  src/hooks.server.helpers.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add link to /nollning in app
  src/routes/(app)/app/account/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add new stab font
  src/app.css
  src/routes/(nollning)/nollning/+page.svelte
  static/fonts/LegendaryRunes.ttf
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Move alerts caching to correct endpoint
  src/routes/(app)/+layout.server.ts
  src/routes/(app)/admin/alerts/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add carousels to stab and pepp
  src/routes/(nollning)/nollning/+page.svelte
  src/routes/(nollning)/nollning/PersonCarouselItem.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

update deploy for pm2
  deploy-script.sh
  ecosystem.config.cjs
Due: none

change to 4 instances
  ecosystem.config.cjs
Due: none

Update deploy script to support PM2 (#462)
  deploy-script.sh
  ecosystem.config.cjs
Due: none

include ecosystem file in deploy
  .github/workflows/deploy.yml
Due: none

reload ecosystem file
  deploy-script.sh
Due: none

use real path for pm2
  deploy-script.sh
Due: none

retry tests
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Deploy fixes (#464)
  .github/workflows/deploy.yml
  deploy-script.sh
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Fix invalid caching logic
  src/hooks.server.helpers.ts
  src/routes/(app)/+layout.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove unnecessary db call
  src/hooks.server.helpers.ts
  src/hooks.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Stream consumable database calls to client
  src/lib/server/shop/countUserShopItems.ts
  src/routes/(app)/+layout.server.ts
  src/routes/(app)/shop/tickets/+page.server.ts
  src/routes/(app)/shop/tickets/+page.svelte
  src/routes/AppBottomNav.svelte
  src/routes/UserMenu.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix eslint detected problems
  src/routes/(app)/admin/links/+page.svelte
  src/routes/(app)/admin/links/TagSelectCreate.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Ensure only one PrismaClient is instantiated
  src/hooks.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add nolla access policy (#459)
  src/hooks.server.helpers.ts
  src/hooks.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix incorrect default booking times
  src/routes/(app)/booking/schema.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

sanitize html when saving to DB instead of when rendering
  src/lib/components/MarkdownBody.svelte
  src/lib/events/server/actions.ts
  src/lib/news/markdown/mutations.server.ts
  src/lib/news/server/actions.ts
  src/lib/server/loadHomeData.ts
  src/lib/zod/comments.ts
  src/routes/(app)/api/home/+server.ts
  src/routes/(app)/committees/nollu/groups/+page.server.ts
  src/routes/(app)/info/[slug]/edit/+page.server.ts
  src/routes/(app)/members/[studentId]/edit-bio/+page.server.ts
  src/routes/(app)/news/SmallArticleCard.svelte
  src/routes/(app)/songbook/+page.server.ts
  src/routes/(app)/songbook/SongElement.svelte
  src/routes/(app)/songbook/[slug]/+layout.server.ts
  src/routes/(app)/songbook/[slug]/edit/+page.server.ts
  src/routes/(app)/songbook/[slug]/edit/+page.svelte
  src/routes/(app)/songbook/create/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix issue where people without access can't see settings page
  src/lib/components/member/SettingsPage.svelte
  src/lib/member/settings.ts
  src/routes/(app)/settings/+layout.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

client side await notifications
  src/lib/components/NotificationModal.svelte
  src/routes/(app)/+layout.server.ts
  src/routes/(nollning)/nollning/+layout.server.ts
  src/routes/(nollning)/nollning/PostRevealHeader.svelte
  src/routes/AppHeader.svelte
  src/routes/Navbar.svelte
  src/routes/NotificationBell.svelte
  src/routes/UserMenu.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add carousels to stab and pepp (#465)
  src/routes/(nollning)/nollning/+page.svelte
  src/routes/(nollning)/nollning/PersonCarouselItem.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add translations, change edit icon
  src/routes/(app)/admin/links/+page.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add content to wikia
  src/routes/(nollning)/nollning/+page.svelte
  src/routes/(nollning)/nollning/wikia/faq/+page.svelte
  src/routes/(nollning)/nollning/wikia/faq/FAQuestion.svelte
  src/routes/(nollning)/nollning/wikia/sektionen/+page.svelte
  src/routes/(nollning)/nollning/wikia/student-health/+page.svelte
  src/routes/(nollning)/nollning/wikia/wordlist/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add guild songs to nolla.nu
  src/routes/(nollning)/nollning/+page.svelte
  src/routes/(nollning)/nollning/PersonCarouselItem.svelte
  src/routes/(nollning)/nollning/wikia/+layout.svelte
  src/routes/(nollning)/nollning/wikia/guild-songs/+page.svelte
  src/routes/(nollning)/nollning/wikia/guild-songs/a.webp
  src/routes/(nollning)/nollning/wikia/guild-songs/d.webp
  src/routes/(nollning)/nollning/wikia/guild-songs/e.webp
  src/routes/(nollning)/nollning/wikia/guild-songs/f.webp
  src/routes/(nollning)/nollning/wikia/guild-songs/i.webp
  src/routes/(nollning)/nollning/wikia/guild-songs/ing.webp
  src/routes/(nollning)/nollning/wikia/guild-songs/k.webp
  src/routes/(nollning)/nollning/wikia/guild-songs/m.webp
  src/routes/(nollning)/nollning/wikia/guild-songs/v.webp
  src/routes/(nollning)/nollning/wikia/guild-songs/w.webp
  src/routes/(nollning)/nollning/wikia/map/+page.svelte
  src/routes/(nollning)/nollning/wikia/sektionen/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add shoppable access policies
  src/database/prisma/migrations/20240825114447_add_shoppable_access_policies/migration.sql
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/database/seed/.snaplet/dataModel.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

corrected lyrics and fixed formatting
  src/routes/(nollning)/nollning/wikia/guild-songs/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Move navbar to top
  src/routes/(nollning)/nollning/+layout.svelte
  src/routes/(nollning)/nollning/PostRevealDesktopHeader.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Limit tickets depending on access policies
  src/database/schema.zmodel
  src/hooks.server.helpers.ts
  src/hooks.server.ts
  src/lib/server/shop/addToCart/addToCart.test.ts
  src/lib/server/shop/addToCart/addToCart.ts
  src/lib/server/shop/getTickets.test.ts
  src/lib/server/shop/getTickets.ts
  src/lib/server/shop/payments/purchase.test.ts
  src/lib/server/shop/tickets/actions.ts
  src/lib/utils/authorization.ts
  src/routes/(app)/shop/tickets/+page.server.ts
  src/routes/(app)/shop/tickets/[slug]/+page.server.ts
  src/routes/(nollning)/nollning/events/+page.server.ts
  src/translations/en.json
  src/translations/sv.json
  src/typings/@zenstackhq.d.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add access policies to ticket form
  src/lib/components/shop/TicketAccessPolicies.svelte
  src/lib/components/shop/TicketAccessPolicyRow.svelte
  src/lib/components/shop/TicketForm.svelte
  src/lib/server/shop/tickets/mutations.ts
  src/lib/utils/shop/types.ts
  src/routes/(app)/shop/tickets/[slug]/edit/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint
