Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

URL hardcode fixes (#893)
  src/database/seed/data.ts
  src/lib/components/shop/cart/CartItem/CartItemEvent.svelte
  src/lib/components/shop/cart/Reservation/CartItemEvent.svelte
  src/lib/components/shop/cart/Reservation/CartReservation.svelte
  src/lib/components/shop/inventory/Consumable.svelte
  src/lib/components/shop/inventory/InventoryItemPage.svelte
  src/routes/(app)/shop/tickets/TicketCard/TicketEvent.svelte
  src/routes/(app)/shop/tickets/[slug]/+page@(app).svelte
  src/routes/(nollning)/nollning/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Unmerge This reverts commit 064000bfb56a0a27200d016cb8bde54e76b2b9df.
  src/routes/(app)/positions/[id]/+page.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Update email server (#941)
  .env
  src/lib/email/emailService.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add position based access admin interface (#927)
  src/routes/(app)/admin/access/+page.svelte
  src/routes/(app)/admin/access/positions/+page.server.ts
  src/routes/(app)/admin/access/positions/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Correct dates for elections (#940)
  src/routes/(app)/elections/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add default mandate dates (Closes #151) (#967)
  src/database/prisma/migrations/20251110171304_add_mandate_dates/migration.sql
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/database/seed/.snaplet/dataModel.json
  src/routes/(app)/positions/[id]/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Sort albums in descending order (#942)
  src/routes/(app)/gallery/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

943 volunteer year ratios (Closes #943) (#944)
  src/routes/(app)/positions/[id]/+page.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix some minor cosmetic problems (#948)
  src/routes/(app)/positions/[id]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Cutoff was incorrectly implemented (#946)
  src/routes/(app)/positions/[id]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

943 volunteer year ratios (#945)
  src/routes/(app)/positions/[id]/+page.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix title to match change in implementation
  src/routes/(app)/admin/alerts/+page.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix title to match implementation change (#970)
  src/routes/(app)/admin/alerts/+page.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add debug button
  src/routes/Footer.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Adds a role for the year of a person (#969)
  src/hooks.server.ts
  src/lib/utils/authorization.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add debug button (#973)
  src/routes/Footer.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add consistent dst handling (#971)
  src/lib/events/server/actions.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix merge errors
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Minecraft translation fix (#929)
  src/lib/components/home/Minecraft.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix phone view of debug button
  src/routes/Footer.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix phone view of debug button (#974)
  src/routes/Footer.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Phaddergroup logo next to phadder mandate on profile
  src/routes/(app)/members/[studentId]/+page@(app).svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Refactor image rendering logic for mandate display
  src/routes/(app)/members/[studentId]/+page@(app).svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Phaddergroup logo next to phadder mandate on profile (#975)
  src/routes/(app)/members/[studentId]/+page@(app).svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fixar expenses 1.2.3.4.5.,,-bar. Pagenation
  src/routes/(app)/expenses/all/+page.server.ts
  src/routes/(app)/expenses/all/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

initial scheduling service
  scheduler-service/.env
  scheduler-service/go.mod
  scheduler-service/go.sum
  scheduler-service/main.go
Due: none

rename `executed` field to `has_executed`
  scheduler-service/main.go
Due: none

added password auth to scheduler
  scheduler-service/.env
  scheduler-service/main.go
Due: none

don't expose password in scheduler service logs
  scheduler-service/main.go
Due: none

add rate limiting to scheduler service
  scheduler-service/go.mod
  scheduler-service/go.sum
  scheduler-service/main.go
Due: none

add proof of concept for user auth via jwt in scheduler service
  scheduler-service/authMiddleware.go
  scheduler-service/go.mod
  scheduler-service/go.sum
Due: none

also store id_token in session token for later decryption
  src/hooks.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add placeholder nav-bar
  src/app.css
  src/lib/components/ui/avatar/avatar-fallback.svelte
  src/lib/components/ui/avatar/avatar-image.svelte
  src/lib/components/ui/avatar/avatar.svelte
  src/lib/components/ui/avatar/index.ts
  src/lib/components/ui/navigation-menu/index.ts
  src/lib/components/ui/navigation-menu/navigation-menu-content-item.svelte
  src/lib/components/ui/navigation-menu/navigation-menu-content.svelte
  src/lib/components/ui/navigation-menu/navigation-menu-indicator.svelte
  src/lib/components/ui/navigation-menu/navigation-menu-item.svelte
  src/lib/components/ui/navigation-menu/navigation-menu-link.svelte
  src/lib/components/ui/navigation-menu/navigation-menu-list.svelte
  src/lib/components/ui/navigation-menu/navigation-menu-trigger.svelte
  src/lib/components/ui/navigation-menu/navigation-menu-viewport.svelte
  src/lib/components/ui/navigation-menu/navigation-menu.svelte
  src/routes/(app)/+layout.svelte
  src/routes/(app)/DarkmodeToggle.svelte
  src/routes/(app)/Navbar.svelte
  src/routes/(app)/news/+layout.svelte
  src/routes/(nollning)/nollning/routes.ts
  src/routes/+layout.svelte
  src/routes/routes.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add button
  src/lib/components/ui/button/button.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix build
  src/routes/(app)/gallery/+layout.svelte
  src/routes/(app)/gallery/+page.svelte
  src/routes/(app)/gallery/AlbumCard.svelte
  src/routes/(app)/gallery/album/[slug]/+page.svelte
  src/routes/(app)/gallery/upload/+page.svelte
  src/routes/(app)/positions/+page.svelte
  src/routes/(app)/positions/UpdatePositionAttributesForm.svelte
  src/routes/(app)/positions/[id]/Mandate.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add new design css
  src/app.css
  static/fonts/IBMPlexSans-VariableFont_wdth,wght.ttf
  static/fonts/IBMPlexSansCondensed-Regular.ttf
  static/fonts/Inter-VariableFont_opsz,wght.ttf
  static/fonts/JetBrainsMono-VariableFont_wght.ttf
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

add button (#966)
  src/lib/components/ui/button/button.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

enable ci
  .github/workflows/node.js.yml
Due: none

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yaml}
  prettier --check --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yaml}
  eslint: any of: *.{js,ts,svelte}
