Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

.lintstagedrc:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json,yaml}": [
    "prettier --write --plugin-search-dir=.",
    "prettier --check --plugin-search-dir=."
  ],
  "*.{js,ts,svelte}": "eslint"
}

Update database
  src/database/prisma/migrations/20260216222618_add_photo_albums/migration.sql
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/database/seed/.snaplet/dataModel.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Implement backend
  src/database/prisma/migrations/20260223211433_add_photo_albums/migration.sql
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/database/seed/.snaplet/dataModel.json
  src/routes/(app)/gallery/+page.server.ts
  src/routes/(app)/gallery/album/[slug]/+page.server.ts
  src/routes/(app)/gallery/getAlbums.ts
  src/routes/(app)/gallery/schema.ts
  src/routes/(app)/gallery/upload/+page.server.ts
  src/routes/(app)/gallery/upload/types.ts
  src/routes/(app)/gallery/upload/uploadFiles.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Implement upload
  src/database/schema.zmodel
  src/lib/components/MemberSelector.svelte
  src/lib/components/search/CommandDialog.svelte
  src/lib/utils/apiNames.ts
  src/routes/(app)/gallery/upload/+page.server.ts
  src/routes/(app)/gallery/upload/+page.svelte
  src/routes/(app)/gallery/upload/types.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

I should commit more often
  .env
  src/lib/components/MemberSelector.svelte
  src/lib/search/searchTypes.ts
  src/routes/(app)/gallery/+page.svelte
  src/routes/(app)/gallery/AlbumCard.svelte
  src/routes/(app)/gallery/album/[slug]/+page.server.ts
  src/routes/(app)/gallery/album/[slug]/+page.svelte
  src/routes/(app)/gallery/getAlbums.ts
  src/routes/(app)/gallery/schema.ts
  src/routes/(app)/gallery/upload/+page.server.ts
  src/routes/(app)/gallery/upload/+page.svelte
  src/routes/routes.ts
  src/translations/en.json
  src/translations/sv.json
  tmp/expected.json
  tmp/recieved.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Rewrite Dockerfile (#1262)
  .dockerignore
  .env
  .github/workflows/deploy-pr.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy.yml
  Dockerfile
  package.json
  src/lib/files/client.ts
  src/lib/files/minio.ts
  src/lib/search/meilisearch.ts
  src/lib/search/sync.ts
  src/lib/search/syncDocuments.ts
  src/lib/search/syncHelpers.ts
  src/lib/server/loadHomeData.ts
  src/lib/server/shop/payments/customer.ts
  src/lib/server/shop/payments/purchase.test.ts
  src/lib/server/shop/payments/stripe.ts
  src/lib/server/shop/payments/stripeMethods.ts
  src/lib/server/wiki/wiki.ts
  src/lib/utils/payments/transactionFee.ts
  src/routes/(app)/api/search/+server.ts
  src/routes/(app)/api/stripe/webhooks/+server.ts
  svelte.config.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

format
  src/lib/components/search/PositionSearchResult.svelte
  src/routes/(app)/positions/[id]/+page.svelte
  vite.config.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Uploads work now
  src/database/prisma/schema.prisma
  src/routes/(app)/gallery/+page.server.ts
  src/routes/(app)/gallery/+page.svelte
  src/routes/(app)/gallery/upload/+page.server.ts
  src/routes/(app)/gallery/upload/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add nollning theme
  src/routes/(app)/Header.svelte
  src/routes/routes.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

regression vanquished
  src/lib/search/searchTypes.ts
  src/routes/(app)/gallery/upload/+page.server.ts
  src/routes/(app)/gallery/upload/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add year selector for committee members
  src/routes/(app)/committees/[shortName]/members/+page.svelte
  src/routes/(app)/committees/nollu/groups/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix minio url in workflows
  .github/workflows/deploy-pr.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy.yml
Due: none

fix minio url in workflows (#1278)
  .github/workflows/deploy-pr.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy.yml
Due: none

Dedupe concurrent session refreshes to avoid spurious logouts
  DESIGN.md
  backend/go.mod
  backend/internal/auth/oidc.go
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Make Go the sole source of truth for authorization and drop dead pure-proxy actions
  DESIGN.md
  backend/CLAUDE.md
  backend/internal/articles/service.go
  backend/internal/articles/types.go
  backend/internal/events/service.go
  backend/internal/events/types.go
  src/lib/api/schema.d.ts
  src/lib/events/server/interestedGoing.ts
  src/lib/events/server/removeEventAction.ts
  src/lib/zod/comments.ts
  src/routes/(app)/events/+page.server.ts
  src/routes/(app)/events/+page.ts
  src/routes/(app)/events/[slug]/+page.server.ts
  src/routes/(app)/events/[slug]/edit/+page.ts
  src/routes/(app)/news/+page.server.ts
  src/routes/(app)/news/Article.svelte
  src/routes/(app)/news/RemoveArticleDialog.svelte
  src/routes/(app)/news/[slug]/+page.server.ts
  src/routes/(app)/news/[slug]/+page.ts
  src/routes/(app)/news/[slug]/edit/+page.svelte
  src/routes/(app)/news/[slug]/edit/+page.ts
  src/routes/(app)/news/likes.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix SSR 500 on pages that fetch the Go API from a universal load
  src/hooks.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Moved existing solution to song archive path instead
  src/routes/(app)/songarchive/+layout.svelte
  src/routes/(app)/songarchive/+page.server.ts
  src/routes/(app)/songarchive/+page.svelte
  src/routes/(app)/songarchive/[slug]/+layout.server.ts
  src/routes/(app)/songarchive/[slug]/+page.svelte
  src/routes/(app)/songarchive/[slug]/edit/+page.server.ts
  src/routes/(app)/songarchive/[slug]/edit/+page.svelte
  src/routes/(app)/songarchive/create/+page.server.ts
  src/routes/(app)/songarchive/create/+page.svelte
  src/routes/(app)/songarchive/create/helpers.ts
  src/routes/(app)/songarchive/helpers.ts
  src/routes/(app)/songarchive/schema.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Create db migration
  src/database/prisma/migrations/20260901101529_add_songbook_entries/migration.sql
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/database/seed/.snaplet/dataModel.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

remove expense creation
  src/routes/(app)/expenses/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

remove expense creation (#1279)
  src/routes/(app)/expenses/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

remove expense creation again
  src/routes/(app)/expenses/+page.svelte
  src/routes/(app)/expenses/all/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

remove expense creation again (#1280)
  src/routes/(app)/expenses/+page.svelte
  src/routes/(app)/expenses/all/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix committee search result
  src/lib/components/search/CommitteeSearchResult.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Port members/committees/positions/mandates/access-policies to Go (Phase 1)
  DESIGN.md
  backend/CLAUDE.md
  backend/internal/accesspolicies/service.go
  backend/internal/accesspolicies/types.go
  backend/internal/api/huma_access_policies.go
  backend/internal/api/huma_committees.go
  backend/internal/api/huma_directory.go
  backend/internal/api/huma_errors.go
  backend/internal/api/huma_members.go
  backend/internal/api/router.go
  backend/internal/apinames/apinames.go
  backend/internal/apitypes/apitypes.go
  backend/internal/articles/service.go
  backend/internal/articles/types.go
  backend/internal/committees/ordering.go
  backend/internal/committees/service.go
  backend/internal/committees/types.go
  backend/internal/db/access_policies.sql.go
  backend/internal/db/committees.sql.go
  backend/internal/db/email_aliases.sql.go
  backend/internal/db/mandates.sql.go
  backend/internal/db/markdowns.sql.go
  backend/internal/db/members.sql.go
  backend/internal/db/migrations/20260901210657_access_policy_exactly_one_of_role_or_student.down.sql
  backend/internal/db/migrations/20260901210657_access_policy_exactly_one_of_role_or_student.up.sql
  backend/internal/db/models.go
  backend/internal/db/positions.sql.go
  backend/internal/db/querier.go
  backend/internal/db/queries/access_policies.sql
  backend/internal/db/queries/committees.sql
  backend/internal/db/queries/email_aliases.sql
  backend/internal/db/queries/mandates.sql
  backend/internal/db/queries/markdowns.sql
  backend/internal/db/queries/members.sql
  backend/internal/db/queries/positions.sql
  backend/internal/db/schema.sql
  backend/internal/dbutil/convert.go
  backend/internal/members/service.go
  backend/internal/members/types.go
  backend/main.go
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Centralize committee/position DTO conversion, dedupe field resolution
  backend/CLAUDE.md
  backend/internal/committees/convert.go
  backend/internal/committees/service.go
  backend/internal/dbutil/convert.go
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix committee search result (#1281)
  src/lib/components/search/CommitteeSearchResult.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Wire nollning frontend to the Go backend, close out Phase 2
  DESIGN.md
  backend/CLAUDE.md
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/hooks.server.helpers.ts
  src/hooks.server.ts
  src/lib/api/schema.d.ts
  src/lib/components/MembersList.svelte
  src/lib/events/server/actions.ts
  src/lib/news/server/actions.ts
  src/lib/nollning/groups/types.ts
  src/lib/utils/adminSettings/nollning.ts
  src/lib/utils/member.ts
  src/routes/(app)/admin/debug/+page.server.ts
  src/routes/(app)/admin/settings/+page.server.ts
  src/routes/(app)/api/members/phadders/+server.ts
  src/routes/(app)/api/nollning/+server.ts
  src/routes/(app)/board/+page.server.ts
  src/routes/(app)/board/+page.svelte
  src/routes/(app)/committees/nollu/groups/+page.server.ts
  src/routes/(app)/committees/nollu/groups/PhadderGroup.svelte
  src/routes/(app)/committees/nollu/groups/manage/+page.server.ts
  src/routes/(app)/members/[studentId]/+page.server.ts
  src/routes/(app)/members/[studentId]/+page.svelte
  src/routes/(app)/members/[studentId]/MemberForm.svelte
  src/routes/(app)/members/[studentId]/PhadderGroupModal.svelte
  src/routes/(app)/members/[studentId]/edit/+page.server.ts
  src/routes/(app)/onboarding/+page.server.ts
  src/routes/(app)/onboarding/+page.svelte
  src/routes/(nollning)/nolla/+layout.server.ts
  src/routes/(nollning)/nollning/+layout.server.ts
  src/routes/(nollning)/nollning/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Document phase sequencing: backend-only until a final frontend sweep
  DESIGN.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Port Phase 4 (real file storage, gallery, document uploads) to Go
  DESIGN.md
  backend/CLAUDE.md
  backend/go.mod
  backend/go.sum
  backend/internal/api/huma_documents.go
  backend/internal/api/huma_gallery.go
  backend/internal/api/router.go
  backend/internal/apinames/apinames.go
  backend/internal/documents/service.go
  backend/internal/documents/types.go
  backend/internal/gallery/service.go
  backend/internal/gallery/types.go
  backend/internal/storage/storage.go
  backend/main.go
  src/lib/api/schema.d.ts
  src/lib/utils/url.ts
  src/routes/(app)/committees/nollu/groups/+page.server.ts
  src/routes/(app)/documents/+page.server.ts
  src/routes/(app)/documents/+page.svelte
  src/routes/(app)/documents/+page.ts
  src/routes/(app)/documents/DeleteFileForm.svelte
  src/routes/(app)/documents/Meeting.svelte
  src/routes/(app)/documents/governing/+page.ts
  src/routes/(app)/documents/requirements/+page.server.ts
  src/routes/(app)/documents/requirements/+page.ts
  src/routes/(app)/documents/upload/+page.server.ts
  src/routes/(app)/documents/upload/uploadFiles.ts
  src/routes/(app)/events/EventPageLoad.ts
  src/routes/(app)/expenses/expense.remote.ts
  src/routes/(app)/gallery/+page.server.ts
  src/routes/(app)/gallery/+page.ts
  src/routes/(app)/gallery/album/[slug]/+page.server.ts
  src/routes/(app)/gallery/album/[slug]/+page.ts
  src/routes/(app)/gallery/upload/+page.server.ts
  src/routes/(app)/gallery/upload/uploadFiles.ts
  src/routes/(app)/medals/+page.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Document the local-dev AccessPolicy seeding gap found while testing Phase 4
  DESIGN.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix songarchive wrong links
  src/routes/(app)/songarchive/create/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Made progress on songbook
  src/database/prisma/migrations/20260901101529_add_songbook_entries/migration.sql
  src/database/prisma/migrations/20260901124432_add_songbook_entries/migration.sql
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/database/seed/.snaplet/dataModel.json
  src/routes/(app)/songbook/+page.server.ts
  src/routes/(app)/songbook/+page.svelte
  src/routes/(app)/songbook/SongSearch.svelte
  src/routes/(app)/songbook/[page]/[numberOnPage]/+layout.server.ts
  src/routes/(app)/songbook/[page]/[numberOnPage]/+page.svelte
  src/routes/(app)/songbook/[page]/[numberOnPage]/edit/+page.server.ts
  src/routes/(app)/songbook/[page]/[numberOnPage]/edit/+page.svelte
  src/routes/(app)/songbook/[slug]/edit/+page.server.ts
  src/routes/(app)/songbook/create/+page.server.ts
  src/routes/(app)/songbook/create/+page.svelte
  src/routes/(app)/songbook/create/helpers.ts
  src/routes/(app)/songbook/data.remote.ts
  src/routes/(app)/songbook/schema.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint
