Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

remove comment
  src/routes/(app)/documents/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

sort SRD meetings correctly (#1180)
  src/routes/(app)/documents/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

spin out documentTypes into enum
  src/routes/(app)/documents/+page.server.ts
  src/routes/(app)/documents/+page.svelte
  src/routes/(app)/documents/types.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix duplicate imports and capitalization of variable
  src/routes/(app)/documents/+page.server.ts
  src/routes/(app)/documents/+page.svelte
  src/routes/(app)/documents/types.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix English titles (#1173)
  README.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

add svelte mcp config and `AGENTS.md` file
  .vscode/mcp.json
  AGENTS.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Use the correct comment format
  src/instrumentation.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Use absolute paths
  src/lib/components/search/CommitteeSearchResult.svelte
  src/lib/components/search/MemberSearchResult.svelte
  src/lib/components/search/PositionSearchResult.svelte
  src/lib/components/ui/calendar/calendar.svelte
  src/lib/server/authorizedPrisma.ts
  src/lib/server/extendedPrisma.ts
  src/routes/(app)/+layout.server.ts
  svelte.config.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Use `resolve` in `goto`
  src/lib/components/search/CommandDialog.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix warnings
  .github/workflows/node.js.yml
  src/lib/components/ui/carousel/carousel.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Prevent future warnings
  .github/workflows/node.js.yml
Due: none

Add explanations
  src/lib/utils.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add reason
  src/lib/components/utils/NavigationLoader.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

New design: change navbar content (#1179)
  src/routes/(app)/Navbar.svelte
  src/routes/routes.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

spin out documentTypes into enum (#1181)
  src/routes/(app)/documents/+page.server.ts
  src/routes/(app)/documents/+page.svelte
  src/routes/(app)/documents/types.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

New design fix warnings (#1185)
  .github/workflows/node.js.yml
  src/instrumentation.server.ts
  src/lib/components/search/CommandDialog.svelte
  src/lib/components/search/CommitteeSearchResult.svelte
  src/lib/components/search/MemberSearchResult.svelte
  src/lib/components/search/PositionSearchResult.svelte
  src/lib/components/ui/calendar/calendar.svelte
  src/lib/components/utils/NavigationLoader.svelte
  src/lib/server/authorizedPrisma.ts
  src/lib/server/extendedPrisma.ts
  src/lib/utils.ts
  src/routes/(app)/+layout.server.ts
  svelte.config.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix toast styling and icons
  src/lib/components/ui/alert/alert.svelte
  src/lib/stores/toast.ts
  src/routes/Toast.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

New design: fix toasts (#1177)
  src/app.d.ts
  src/lib/components/ui/alert/alert.svelte
  src/lib/stores/toast.ts
  src/routes/(app)/notifications/NotificationBell.svelte
  src/routes/(app)/notifications/NotificationItem.svelte
  src/routes/(app)/notifications/NotificationList.svelte
  src/routes/(app)/settings/+page.svelte
  src/routes/(app)/settings/settings.remote.ts
  src/routes/+layout.svelte
  src/routes/Toast.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

2026-05-11
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/lib/nollning/groups/types.ts
  src/lib/utils/committee-ordering/enums.ts
  src/routes/(app)/api/members/phadders/+server.ts
  src/routes/(app)/committees/nollu/+page.server.ts
  src/routes/(app)/committees/nollu/groups/+page.server.ts
  src/routes/(app)/members/[studentId]/+page.server.ts
  src/routes/(app)/members/[studentId]/+page.svelte
  src/routes/(app)/members/[studentId]/MemberForm.svelte
  src/routes/(app)/members/[studentId]/PhadderGroupModal.svelte
  src/routes/(app)/members/[studentId]/edit/+page.server.ts
  src/routes/(app)/members/[studentId]/types.ts
  src/routes/(app)/onboarding/+page.server.ts
  src/routes/(app)/onboarding/+page.svelte
  src/routes/(app)/shop/tickets/[slug]/manage/download-csv/+server.ts
  src/routes/(app)/shop/tickets/[slug]/manage/loadTicketData.ts
  src/routes/(nollning)/nollning/+layout.server.ts
  src/routes/(nollning)/nollning/+page.server.ts
  src/routes/+page.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix pagination overwriting
  src/lib/components/Pagination.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove old dev setup
  dev/README.md
  dev/setup.ts
  dev/setup_db.sh
  dev/utils.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove podman-dev
  podman-dev.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Add Containerfile and compose
  .devcontainer/Containerfile
  .devcontainer/README.md
  .devcontainer/compose.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Create README for devcontainer
  .devcontainer/README.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Add devcontainer.json
  .devcontainer/devcontainer.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Fixes for docker
  .devcontainer/Containerfile
Due: none

Fix conflict with old docker setup
  .devcontainer/compose.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

WIP
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Add script to cehck translation key synchronisation
  .github/workflows/translation-check.yml
  dev/check_translations.sh
Due: none

Remove unused *and language-unique* translation strings
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

2026-05-17
  src/lib/files/fileHandler.ts
  src/lib/member/settings.ts
  src/lib/server/shop/payments/purchase.ts
  src/lib/utils/client/superForms.ts
  src/lib/utils/notifications/group.ts
  src/lib/utils/notifications/types.ts
  src/lib/utils/payments/transactionFee.ts
  src/lib/utils/shop/types.ts
  src/lib/utils/slugify.test.ts
  src/lib/utils/themes.ts
  src/routes/(app)/admin/access/positions/+page.server.ts
  src/routes/(app)/contact/+page.svelte
  src/routes/(app)/documents/+page.server.ts
  src/routes/(app)/expenses/config.ts
  src/routes/(app)/expenses/signers.ts
  src/routes/(app)/expenses/upload/+page.server.ts
  src/routes/(app)/members/[studentId]/MemberBio.svelte
  src/routes/(app)/members/[studentId]/MemberForm.svelte
  src/routes/(app)/members/[studentId]/pings.ts
  src/routes/(app)/news/ArticleForm.svelte
  src/routes/(app)/news/[slug]/edit/+page.server.ts
  src/routes/(app)/positions/[id]/+page.server.ts
  src/routes/(app)/salto/[door]/+server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix broken translation strings
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Add `check-translations` as a pnpm script and merge workflows
  .github/workflows/node.js.yml
  .github/workflows/translation-check.yml
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix skill issue
  src/lib/components/Pagination.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

2026-05-18
  src/database/prisma/schema.prisma
  src/database/seed/data.ts
  src/lib/components/Editor.svelte
  src/lib/components/datetime-selector/DateTimeSelector.svelte
  src/lib/components/dualSelect/DualSelect.svelte
  src/lib/components/postReveal/types.ts
  src/lib/components/ui/badge/badge.svelte
  src/lib/components/utils/NavigationLoader.svelte
  src/lib/news/server/actions.ts
  src/lib/server/medals/medals.ts
  src/lib/server/shop/addToCart/addToCart.test.ts
  src/lib/server/shop/addToCart/reservations.ts
  src/lib/server/shop/payments/purchase.test.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix warnings
  src/database/prisma/migrations/20260518112855_fix_spelling/migration.sql
  src/database/seed/.snaplet/dataModel.json
  src/lib/components/Editor.svelte
  src/lib/components/FileUpload.svelte
  src/lib/components/datetime-selector/TimePicker.svelte
  src/lib/components/ui/input/input.svelte
  src/lib/events/server/actions.ts
  src/lib/files/uploadFiles.ts
  src/lib/utils/apiNames.ts
  src/routes/(app)/committees/cafe/+page.server.ts
  src/routes/(app)/committees/cafe/types.ts
  src/routes/(app)/contact/+page.svelte
  src/routes/(app)/members/[studentId]/+page.server.ts
  src/routes/(app)/members/[studentId]/MentorGroupModal.svelte
  src/routes/(app)/members/[studentId]/edit/+page.server.ts
  src/routes/(app)/members/[studentId]/pings.ts
  src/routes/routes.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Change api names
  src/lib/server/loadHomeData.ts
  src/lib/utils/apiNames.ts
  src/routes/(app)/admin/stocklist/addproduct/+page.server.ts
  src/routes/(app)/admin/stocklist/showproducts/+page.server.ts
  src/routes/(app)/admin/stocklist/stockchange/+page.server.ts
  src/routes/(app)/admin/stocklist/treasury/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Update compose to not expose db
  .devcontainer/compose.yaml
  .devcontainer/devcontainer.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Refactor devcontainer for multiple setups
  .devcontainer/compose.yaml
  .devcontainer/default/devcontainer.json
  .devcontainer/search/devcontainer.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Update `ci-check` script
  .github/workflows/node.js.yml
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yaml}
  prettier --check --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yaml}
  eslint: any of: *.{js,ts,svelte}
