Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

.lintstagedrc:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json,yaml}": [
    "prettier --write --plugin-search-dir=.",
    "prettier --check --plugin-search-dir=."
  ],
  "*.{js,ts,svelte}": "eslint"
}

Change all isBoardMember to boardMember to fix display bug and for consistency. Close UpdatePositionForm on submit
  src/routes/(app)/positions/+page.server.ts
  src/routes/(app)/positions/UpdatePositionAttributesForm.svelte
  src/routes/(app)/positions/[id]/+page.svelte
  src/routes/(app)/positions/[id]/UpdatePositionForm.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove old email alias pages
  src/routes/(app)/admin/email-alias/+layout.server.ts
  src/routes/(app)/admin/email-alias/+page.server.ts
  src/routes/(app)/admin/email-alias/+page.svelte
  src/routes/(app)/admin/email-alias/[email]/+page.server.ts
  src/routes/(app)/admin/email-alias/[email]/+page.svelte
  src/routes/(app)/admin/email-alias/[email]/EmailAliasForm.svelte
  src/routes/(app)/admin/email-alias/[email]/SpecialReceiverForm.svelte
  src/routes/(app)/admin/email-alias/[email]/SpecialSenderForm.svelte
  src/routes/(app)/admin/email-alias/[email]/schema.ts
  src/routes/(app)/admin/email-alias/emailutils.test.ts
  src/routes/(app)/admin/email-alias/emailutils.ts
  src/routes/(app)/admin/email-alias/schema.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Use authentik for /email-alias page
  src/lib/server/authentik/helpers.ts
  src/lib/server/authentik/index.ts
  src/routes/(app)/admin/email-alias/+page.server.ts
  src/routes/(app)/admin/email-alias/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix breaking typo in env
  .env
Due: none

Add /email-alias/[id] page with recipient editing
  src/lib/server/authentik/helpers.ts
  src/lib/server/authentik/index.ts
  src/routes/(app)/admin/email-alias/+page.svelte
  src/routes/(app)/admin/email-alias/[id]/+page.server.ts
  src/routes/(app)/admin/email-alias/[id]/+page.svelte
  src/routes/(app)/admin/email-alias/helpers.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add new /email-alias page
  src/routes/(app)/admin/email-alias/+page.server.ts
  src/routes/(app)/admin/email-alias/+page.svelte
  src/routes/(app)/admin/email-alias/helpers.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add error handling for duplicate mail aliases
  src/routes/(app)/admin/email-alias/+page.server.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix crash on missing variable, top bar and translations.
  src/routes/(app)/admin/email-alias/+page.svelte
  src/routes/(app)/admin/email-alias/[id]/+page.svelte
  src/translations/en.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fixed errors with build pipeline
  src/routes/(app)/admin/email-alias/+page.svelte
  src/routes/(app)/admin/email-alias/[id]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix not routing to newly created group
  src/lib/server/authentik/index.ts
  src/routes/(app)/admin/email-alias/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix formatting
  src/routes/(app)/admin/email-alias/+page.server.ts
  src/routes/(app)/admin/email-alias/+page.svelte
  src/routes/(app)/admin/email-alias/[id]/+page.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Delete mail API endpoints
  src/routes/(app)/api/mail/alias/+server.ts
  src/routes/(app)/api/mail/alias/senders/+server.ts
  src/routes/(app)/api/mail/alias/senders/server.test.ts
  src/routes/(app)/api/mail/alias/server.test.ts
  src/routes/(app)/api/mail/alias/utils.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove email tables
  src/database/prisma/migrations/20250916095154_remove_email_tables/migration.sql
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/database/seed/.snaplet/dataModel.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Disable es lint for required @html tags
  src/routes/(app)/admin/email-alias/+page.svelte
  src/routes/(app)/admin/email-alias/[id]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Move all cache code into util library
  src/lib/server/authentik/index.ts
  src/routes/(app)/admin/email-alias/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix translations
  src/routes/(app)/admin/email-alias/+page.server.ts
  src/routes/(app)/admin/email-alias/+page.svelte
  src/routes/(app)/admin/email-alias/[id]/+page.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix wording for deleting recipient mappings
  src/translations/en.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Use authentik for managing email aliases (#870)
  .env
  src/database/prisma/migrations/20250916095154_remove_email_tables/migration.sql
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/database/seed/.snaplet/dataModel.json
  src/lib/server/authentik/helpers.ts
  src/lib/server/authentik/index.ts
  src/routes/(app)/admin/email-alias/+layout.server.ts
  src/routes/(app)/admin/email-alias/+page.server.ts
  src/routes/(app)/admin/email-alias/+page.svelte
  src/routes/(app)/admin/email-alias/[email]/+page.server.ts
  src/routes/(app)/admin/email-alias/[email]/+page.svelte
  src/routes/(app)/admin/email-alias/[email]/EmailAliasForm.svelte
  src/routes/(app)/admin/email-alias/[email]/SpecialReceiverForm.svelte
  src/routes/(app)/admin/email-alias/[email]/SpecialSenderForm.svelte
  src/routes/(app)/admin/email-alias/[email]/schema.ts
  src/routes/(app)/admin/email-alias/[id]/+page.server.ts
  src/routes/(app)/admin/email-alias/[id]/+page.svelte
  src/routes/(app)/admin/email-alias/emailutils.test.ts
  src/routes/(app)/admin/email-alias/emailutils.ts
  src/routes/(app)/admin/email-alias/helpers.ts
  src/routes/(app)/admin/email-alias/schema.ts
  src/routes/(app)/api/mail/alias/+server.ts
  src/routes/(app)/api/mail/alias/senders/+server.ts
  src/routes/(app)/api/mail/alias/senders/server.test.ts
  src/routes/(app)/api/mail/alias/server.test.ts
  src/routes/(app)/api/mail/alias/utils.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Hide tooltip when editing mandate and fixed styling
  src/routes/(app)/positions/[id]/+page.server.ts
  src/routes/(app)/positions/[id]/Mandate.svelte
  src/routes/(app)/positions/[id]/UpdateMandateForm.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add button to get from a position to the list of all positions
  src/routes/(app)/positions/[id]/+page.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Update door backup list
  src/routes/(app)/salto/[door]/constants.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Update door backup list (#920)
  src/routes/(app)/salto/[door]/constants.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add gallery and albums
  src/routes/(app)/gallery/+layout.svelte
  src/routes/(app)/gallery/+page.server.ts
  src/routes/(app)/gallery/+page.svelte
  src/routes/(app)/gallery/album/[slug]/+page.server.ts
  src/routes/(app)/gallery/album/[slug]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add album uploading, fix styling, remove unneeded
  .env
  src/routes/(app)/gallery/+page.server.ts
  src/routes/(app)/gallery/+page.svelte
  src/routes/(app)/gallery/AlbumCard.svelte
  src/routes/(app)/gallery/album/[slug]/+page.server.ts
  src/routes/(app)/gallery/album/[slug]/+page.svelte
  src/routes/(app)/gallery/upload/+page.server.ts
  src/routes/(app)/gallery/upload/+page.svelte
  src/routes/(app)/gallery/upload/types.ts
  src/routes/(app)/gallery/upload/uploadFiles.ts
  src/routes/routes.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

change swedish translation for gallery
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

make album responsive
  src/routes/(app)/gallery/album/[slug]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add support for album metadata
  src/routes/(app)/gallery/album/[slug]/+page.server.ts
  src/routes/(app)/gallery/album/[slug]/+page.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

do not kill the browser
  src/routes/(app)/gallery/album/[slug]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

remove unused code
  src/routes/(app)/gallery/album/[slug]/+page.svelte
  src/routes/(app)/gallery/upload/+page.svelte
  src/routes/(app)/gallery/upload/uploadFiles.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix staging minio url
  .github/workflows/deploy-staging.yml
Due: none

fix images on landing page
  src/routes/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add position based access admin interface
  src/routes/(app)/admin/access/+page.svelte
  src/routes/(app)/admin/access/positions/+page.server.ts
  src/routes/(app)/admin/access/positions/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

change to node 24 in poppler dockerfile
  poppler-server/Dockerfile
Due: none

explicitly use node 25 in poppler dockerfile
  poppler-server/Dockerfile
Due: none

install pnpm via npm in poppler dockerfile
  poppler-server/Dockerfile
Due: none

Fixes translation for minecraft widget
  src/lib/components/home/Minecraft.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix spelling
  src/translations/en.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix capitalization
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

install pnpm via npm in poppler dockerfile (#914)
  poppler-server/Dockerfile
Due: none
