Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Enforce soft deletion in schema
  src/database/schema.zmodel
Due: none

Add Prisma translation extension
  package.json
  pnpm-lock.yaml
  src/app.d.ts
  src/database/prisma/translationExtension.ts
  src/hooks.server.ts
  src/lib/utils/member.ts
  src/lib/utils/translated.ts
  src/routes/[[lang=lang]]/+page.server.ts
  src/routes/[[lang=lang]]/board/+page.server.ts
  src/routes/[[lang=lang]]/bookings/+page.server.ts
  src/routes/[[lang=lang]]/committees/+page.server.ts
  src/routes/[[lang=lang]]/committees/cafe/+page.server.ts
  src/routes/[[lang=lang]]/committees/committee.server.ts
  src/routes/[[lang=lang]]/events/+layout.server.ts
  src/routes/[[lang=lang]]/events/[slug]/edit/+page.server.ts
  src/routes/[[lang=lang]]/events/create/+page.server.ts
  src/routes/[[lang=lang]]/events/events.ts
  src/routes/[[lang=lang]]/info/[slug]/+page.server.ts
  src/routes/[[lang=lang]]/info/[slug]/edit/+page.server.ts
  src/routes/[[lang=lang]]/members/[studentId]/+page.server.ts
  src/routes/[[lang=lang]]/news/+page.server.ts
  src/routes/[[lang=lang]]/news/[slug]/edit/+page.server.ts
  src/routes/[[lang=lang]]/news/articles.ts
  src/routes/[[lang=lang]]/news/create/+page.server.ts
  src/routes/[[lang=lang]]/news/tags/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

lint fix
  src/lib/utils/keycloak.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

lint fix 2
  src/lib/utils/keycloak.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

lint fix 3
  src/lib/utils/keycloak.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Define model access policies
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
Due: none

Add landing page authorization policies
  src/app.d.ts
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/hooks.server.ts
  src/routes/[[lang=lang]]/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add ZenStack authorization library
  .gitignore
  package.json
  pnpm-lock.yaml
  src/database/prisma/migrations/0_init/migration.sql
  src/database/prisma/migrations/20231017133555_convert_all_explicit_many_to_many_tables_to_implicit/migration.sql
  src/database/prisma/migrations/20231017134000_remove_unused_tables/migration.sql
  src/database/prisma/migrations/20231017140309_add_relation_for_student_id_on_access_policy/migration.sql
  src/database/prisma/migrations/20231102122857_add_fields_to_committees/migration.sql
  src/database/prisma/migrations/20231102123201_make_image_urls_use_text_instead_of_varchar/migration.sql
  src/database/prisma/migrations/20231102141708_make_short_name_for_commitees_unique/migration.sql
  src/database/prisma/migrations/20231107213429_add_bio_to_members/migration.sql
  src/database/prisma/migrations/20231111024707_add_door_access_member_fk/migration.sql
  src/database/prisma/migrations/20231112115842_product_inventory_id_unique/migration.sql
  src/database/prisma/migrations/20231128182355_make_expo_token_non_nullable/migration.sql
  src/database/prisma/migrations/20240101185308_meetings/migration.sql
  src/database/prisma/migrations/20240115231946_add_song_slug_and_deleted_at/migration.sql
  src/database/prisma/migrations/20240127103036_add_zenstack/migration.sql
  src/database/prisma/migrations/migration_lock.toml
  src/database/prisma/schema.prisma
  src/database/schema.prisma
  src/database/schema.zmodel
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Add tests for getDerivedRoles
  src/hooks.server.helpers.ts
  src/lib/utils/authorization.test.ts
  src/lib/utils/authorization.ts
  src/lib/utils/member.ts
  src/routes/[[lang=lang]]/news/likes.ts
  src/routes/[[lang=lang]]/yrka/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Prevent signed out users from reading nicknames
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
Due: none

Fix serialization error for member translations
  src/routes/[[lang=lang]]/members/[studentId]/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add zenstack generate to prepare script
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Update zenstack schema
  src/database/prisma/migrations/20240130194505_fix_zenstack/migration.sql
  src/database/prisma/schema.prisma
Due: none

starting on ui for notification
  src/lib/components/Notification.svelte
  src/routes/Navbar.svelte
  src/routes/NotificationBell.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

migration to disallow null values in email alias
  src/database/migrations/20240130200640_email_alias_remove_nullable_fields/migration.sql
  src/database/schema.prisma
Due: none

Add mail alias route and access control
  src/lib/utils/apiNames.ts
  src/routes/routes.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fixed issue
  src/routes/NotificationBell.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: :bug: incorrect event creation redirect url
  src/routes/[[lang=lang]]/events/[slug]/edit/+page.server.ts
  src/routes/[[lang=lang]]/events/create/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

WIP: restructure and further develop email alias page
  src/routes/[[lang=lang]]/admin/mail-alias/+page.server.ts
  src/routes/[[lang=lang]]/admin/mail-alias/+page.svelte
  src/routes/[[lang=lang]]/admin/mail-alias/emailutils.ts
  src/routes/[[lang=lang]]/admin/mail-alias/schema.ts
  src/routes/mail-alias/edit/+layout.svelte
  src/routes/mail-alias/edit/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Added SRD-meeting section in documents page.
  src/routes/[[lang=lang]]/documents/+page.server.ts
  src/routes/[[lang=lang]]/documents/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

groupId correct
  src/hooks.server.ts
  src/lib/utils/keycloak.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

lint fix lol
  src/hooks.server.ts
  src/lib/utils/keycloak.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: :sparkles: add simple deletion mechanism
  src/routes/[[lang=lang]]/events/[slug]/+page.server.ts
  src/routes/[[lang=lang]]/events/[slug]/+page.svelte
  src/routes/[[lang=lang]]/events/[slug]/delete/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: :fire: use false deletion flag
  src/routes/[[lang=lang]]/events/[slug]/delete/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Removed console.log
  src/routes/[[lang=lang]]/documents/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Added SRD-meeting section in documents page. (#135)
  src/routes/[[lang=lang]]/documents/+page.server.ts
  src/routes/[[lang=lang]]/documents/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Browsing guild and Board meetings working with both old and new path layout.
  src/routes/[[lang=lang]]/documents/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Patch devalue package to remove symbol check
  package.json
  patches/devalue@4.3.2.patch
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Remove automatic writes to i18n fields
  src/database/prisma/translationExtension.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Added support for viewing SRD files that don't conform to new folder structure
  src/routes/[[lang=lang]]/documents/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Added requirements page (dummy text for now)
  src/routes/[[lang=lang]]/documents/requirements/+page.server.ts
  src/routes/[[lang=lang]]/documents/requirements/+page.svelte
  src/routes/routes.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Autorization to handle multiple API names
  src/lib/utils/authorization.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yaml}
  prettier --check --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yaml}
  eslint: any of: *.{js,ts,svelte}
