Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

247 build purchase system (#257)
  .env
  package.json
  pnpm-lock.yaml
  src/database/prisma/migrations/20240409093648_add_stripe_ids/migration.sql
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/hooks.server.ts
  src/lib/server/shop/addToCart/addToCart.test.ts
  src/lib/server/shop/addToCart/addToCart.ts
  src/lib/server/shop/addToCart/reservations.ts
  src/lib/server/shop/authorizedPrisma.ts
  src/lib/server/shop/getTickets.test.ts
  src/lib/server/shop/getTickets.ts
  src/lib/server/shop/mock.ts
  src/lib/server/shop/payments/customer.ts
  src/lib/server/shop/payments/purchase.test.ts
  src/lib/server/shop/payments/purchase.ts
  src/lib/server/shop/payments/stripe.ts
  src/lib/server/shop/payments/stripeMethods.ts
  src/lib/server/shop/payments/stripeWebhooks.ts
  src/lib/server/shop/tests.d.ts
  src/lib/server/shop/types.ts
  src/lib/utils/client/member.ts
  src/routes/(app)/api/stripe/webhooks/+server.ts
  src/routes/(app)/shop/cart/+page.server.ts
  src/routes/(app)/shop/cart/+page.svelte
  src/routes/(app)/shop/cart/PurchaseSection.svelte
  src/routes/(app)/shop/cart/SveltePaymentElement.svelte
  src/routes/(app)/shop/success/+page.svelte
  src/routes/(app)/shop/tickets/+page.server.ts
  src/routes/(app)/shop/tickets/api/tickets.test.ts
  src/routes/+layout.svelte
  src/typings/@zenstackhq.d.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix price input
  src/routes/(app)/shop/tickets/create/+page.server.ts
  src/routes/(app)/shop/tickets/create/CreateTicketForm.svelte
  src/routes/(app)/shop/tickets/create/PriceInput.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix tests
  src/lib/server/shop/getTickets.test.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Make shoppable description optional
  src/database/prisma/migrations/20240414111501_make_shoppable_description_optional/migration.sql
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
Due: none

Fix cart page
  src/lib/server/shop/payments/purchase.ts
  src/routes/(app)/shop/cart/+page.svelte
  src/routes/(app)/shop/cart/PurchaseSection.svelte
  src/routes/(app)/shop/cart/SveltePaymentElement.svelte
  src/routes/(app)/shop/tickets/+page.server.ts
  src/routes/(app)/shop/tickets/TicketCard/TicketActions.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add create ticket page
  package.json
  pnpm-lock.yaml
  src/database/seed/accessPolicies.ts
  src/lib/components/DateInput.svelte
  src/lib/components/EntitySearch.svelte
  src/lib/components/EventSearch.svelte
  src/lib/components/Input.svelte
  src/lib/components/Labeled.svelte
  src/lib/server/shop/getTickets.ts
  src/lib/utils/apiNames.ts
  src/routes/(app)/api/events/+server.ts
  src/routes/(app)/events/EventEditor.svelte
  src/routes/(app)/positions/[id]/MemberSearchInput.svelte
  src/routes/(app)/shop/cart/+page.svelte
  src/routes/(app)/shop/tickets/+page.server.ts
  src/routes/(app)/shop/tickets/+page.svelte
  src/routes/(app)/shop/tickets/TicketCard/TicketActions.svelte
  src/routes/(app)/shop/tickets/TicketCard/TicketCard.svelte
  src/routes/(app)/shop/tickets/TicketCard/TicketEvent.svelte
  src/routes/(app)/shop/tickets/create/+page.server.ts
  src/routes/(app)/shop/tickets/create/+page.svelte
  src/routes/(app)/shop/tickets/create/AvailableDates.svelte
  src/routes/(app)/shop/tickets/create/CreateTicketForm.svelte
  src/routes/(app)/shop/tickets/create/EventSearchInput.svelte
  src/routes/(app)/shop/tickets/create/MaxAmountPerUser.svelte
  src/routes/(app)/shop/tickets/types.ts
  src/routes/routes.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix ticket create form inputs
  src/lib/components/Input.svelte
  src/lib/components/Labeled.svelte
  src/routes/(app)/shop/tickets/create/AvailableDates.svelte
  src/routes/(app)/shop/tickets/create/CreateTicketForm.svelte
  src/routes/(app)/shop/tickets/create/MaxAmountPerUser.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add support for input icons within Labeled component
  src/lib/components/Input.svelte
  src/lib/components/Labeled.svelte
  src/routes/(app)/admin/doors/edit/[slug]/+page.svelte
  src/routes/(app)/admin/email-alias/+page.svelte
  src/routes/(app)/committees/EditCommitteeForm.svelte
  src/routes/(app)/documents/upload/+page.svelte
  src/routes/(app)/events/EventEditor.svelte
  src/routes/(app)/members/[studentId]/UpdateMemberForm.svelte
  src/routes/(app)/news/ArticleEditor.svelte
  src/routes/(app)/onboarding/+page.svelte
  src/routes/(app)/positions/[id]/AddMandateForm.svelte
  src/routes/(app)/positions/[id]/UpdateMandateForm.svelte
  src/routes/(app)/positions/[id]/UpdatePositionForm.svelte
  src/routes/(app)/shop/tickets/+page.svelte
  src/routes/(app)/shop/tickets/create/AvailableDates.svelte
  src/routes/(app)/shop/tickets/create/EventSearchInput.svelte
  src/routes/(app)/shop/tickets/create/MaxAmountPerUser.svelte
  src/routes/(app)/songbook/[slug]/edit/+page.svelte
  src/routes/(app)/songbook/create/+page.svelte
  src/routes/(app)/yrka/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Purchase item immidiately if free and available
  src/lib/server/shop/addToCart/addToCart.ts
  src/routes/(app)/shop/tickets/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix tests
  src/lib/server/shop/addToCart/addToCart.test.ts
  src/lib/server/shop/addToCart/addToCart.ts
  src/lib/server/shop/getTickets.test.ts
  src/lib/server/shop/mock.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Purchase ticket immediately if free and available (#259)
  src/lib/server/shop/addToCart/addToCart.test.ts
  src/lib/server/shop/addToCart/addToCart.ts
  src/lib/server/shop/getTickets.test.ts
  src/lib/server/shop/mock.ts
  src/routes/(app)/shop/tickets/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix type error due to memberId being nullable
  src/routes/(app)/members/[studentId]/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add missing `inCart` and `reservation` fields to `getCart` return type
  src/lib/server/shop/getTickets.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Update prisma schema
  src/database/prisma/schema.prisma
Due: none

Fix tests
  src/lib/server/shop/addToCart/addToCart.test.ts
  src/lib/server/shop/addToCart/addToCart.ts
  src/lib/server/shop/addToCart/reservations.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix webshop issues after merging (#268)
  src/database/prisma/schema.prisma
  src/lib/server/shop/addToCart/addToCart.test.ts
  src/lib/server/shop/addToCart/addToCart.ts
  src/lib/server/shop/addToCart/reservations.ts
  src/lib/server/shop/getTickets.ts
  src/routes/(app)/members/[studentId]/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Start db before tests
  .github/workflows/node.js.yml
Due: none

Added call to push notifications when creating normal notifications
  src/lib/utils/notifications/index.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add person responsible field to booking admin table
  src/routes/(app)/booking/admin/+page.server.ts
  src/routes/(app)/booking/admin/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix formatting of database schema
  src/database/schema.zmodel
Due: none

Fix vercel deploy scripts
  vercel.sh
Due: none

Remove the requirement for a link when creating an event
  src/routes/(app)/events/EventEditor.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Make dates not in this year say so
  src/lib/utils/client/datetime.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

always clear search value, focus elem
  src/lib/components/TagSelector.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Clear input when a tag is selected in the tag selector
  src/lib/components/TagSelector.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Make event's short description optional
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/routes/(app)/events/+page.svelte
  src/routes/(app)/events/Event.svelte
  src/routes/(app)/events/schema.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

restored default onChange
  src/lib/components/TagSelector.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Bump caniuse dependency
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Improve events (#191)
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/lib/components/TagSelector.svelte
  src/lib/utils/client/datetime.ts
  src/routes/(app)/events/+page.svelte
  src/routes/(app)/events/Event.svelte
  src/routes/(app)/events/EventEditor.svelte
  src/routes/(app)/events/schema.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add migration for making event's short description optional
  src/database/prisma/migrations/20240420134647_make_event_short_description_optional/migration.sql
Due: none

Improve stability of database setup script
  dev/setup_db.sh
Due: none

Add migration for making event's short description optional (#271)
  src/database/prisma/migrations/20240420134647_make_event_short_description_optional/migration.sql
Due: none

Round corners on landing page
  src/routes/(app)/+page.svelte
  src/routes/(app)/CaféOpenTimes.svelte
  src/routes/(app)/Events.svelte
  src/routes/(app)/Header.svelte
  src/routes/(app)/Meetings.svelte
  src/routes/(app)/WellbeingCTA.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Break out event cards in to its own component
  src/routes/(app)/events/+page.svelte
  src/routes/(app)/events/SmallEventCard.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Restyle event cards to look more like news cards
  src/routes/(app)/events/+page.svelte
  src/routes/(app)/events/SmallEventCard.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add noErrorTruncation to ts config
  tsconfig.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yaml}
  prettier --check --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yaml}
  eslint: any of: *.{js,ts,svelte}
