Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

.lintstagedrc:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json,yaml}": [
    "prettier --write --plugin-search-dir=.",
    "prettier --check --plugin-search-dir=."
  ],
  "*.{js,ts,svelte}": "eslint"
}

remove transaction
  src/lib/events/getEvents.ts
  src/lib/news/getArticles.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Return 400 status codes when query parameters are bad (#678)
  src/lib/events/getEvents.ts
  src/lib/news/getArticles.ts
  src/lib/utils/semesters.test.ts
  src/lib/utils/semesters.ts
  src/lib/utils/url.server.ts
  src/routes/(app)/api/members/phadders/+server.ts
  src/routes/(app)/committees/committee.server.ts
  src/routes/(app)/committees/nollu/+page.server.ts
  src/routes/(app)/documents/+page.server.ts
  src/routes/(app)/documents/governing/+page.server.ts
  src/routes/(app)/documents/requirements/+page.server.ts
  src/routes/(app)/events/EventPageLoad.ts
  src/routes/(app)/expenses/all/+page.server.ts
  src/routes/(app)/medals/+page.server.ts
  src/routes/(app)/medals/+page.svelte
  src/routes/(app)/medals/download-csv/+server.ts
  src/routes/(app)/members/+page.server.ts
  src/routes/(app)/news/+page.server.ts
  src/routes/(app)/songbook/+page.server.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix incorrect pluralization
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Refactor email alias system
  src/routes/(app)/api/mail/alias/+server.ts
  src/routes/(app)/api/mail/alias/senders/+server.ts
  src/routes/(app)/api/mail/alias/server.test.ts
  src/routes/(app)/api/mail/alias/utils.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

small fix
  src/routes/(app)/shop/tickets/[slug]/manage/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Change QR to display consumable id instead
  src/lib/components/shop/inventory/InventoryItemPage.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fixed language "randomly" switching
  src/hooks.server.ts
  src/routes/+layout.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: fixed multi-image uploads not working by limiting use to one upload
  src/routes/(app)/news/ArticleForm.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: broken css in unrelated file?
  src/routes/(app)/members/[studentId]/+page@(app).svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Refactor email alias (#726)
  src/routes/(app)/api/mail/alias/+server.ts
  src/routes/(app)/api/mail/alias/senders/+server.ts
  src/routes/(app)/api/mail/alias/server.test.ts
  src/routes/(app)/api/mail/alias/utils.ts
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix data being leaked due to app page title (#721)
  src/lib/components/nav/SetPageTitle.svelte
  src/lib/stores/pageTitle.ts
  src/routes/(app)/+layout.svelte
  src/routes/(nollning)/nollning/PostRevealHeader.svelte
  src/routes/+layout.svelte
  src/routes/AppHeader.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Added polyfill for Object.groupBy
  src/hooks.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fixed language "randomly" switching (#728)
  src/hooks.server.ts
  src/routes/+layout.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Added polyfill for Object.groupBy (#730)
  src/hooks.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

decrease keycloak sync batch size
  src/lib/server/keycloak/index.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

decrease keycloak sync batch size (#731)
  src/lib/server/keycloak/index.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: :art: qr code scanner - wip
  package.json
  pnpm-lock.yaml
  src/lib/components/QRCodeScanner.svelte
  src/lib/hooks/useQRScanner.ts
  src/lib/qr/QRCodeScanner.svelte
  src/routes/(app)/shop/tickets/[slug]/manage/+page.svelte
  src/routes/(app)/shop/tickets/[slug]/scan/+page.svelte
  src/routes/(app)/shop/tickets/[slug]/scan/[consumable]/+page.server.ts
  src/routes/(app)/shop/tickets/[slug]/scan/[consumable]/+page.svelte
  src/routes/(app)/shop/tickets/[slug]/scan/[consumable]/consume.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

progress
  src/database/prisma/migrations/20250218210823_dbay/migration.sql
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/database/seed/.snaplet/dataModel.json
  src/lib/dbay/dbay.ts
  src/lib/dbay/schema.ts
  src/lib/utils/apiNames.ts
  src/routes/(app)/dbay/+page.server.ts
  src/routes/(app)/dbay/+page.svelte
  src/routes/(app)/dbay/create/+page.server.ts
  src/routes/(app)/dbay/create/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

wip
  src/lib/server/keycloak/index.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: don't add expired mandates
  src/lib/server/keycloak/index.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: mark old nonexistent mandates as synced
  src/lib/server/keycloak/index.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

keycloak group sync working
  src/lib/server/keycloak/index.ts
  src/routes/(app)/positions/[id]/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

create dockerfile
  Dockerfile
Due: none

update deploy to not use jenkins
  .github/workflows/deploy.yml
Due: none

retry deploy ssh
  .github/workflows/deploy.yml
Due: none

use command to ssh in deploy
  .github/workflows/deploy.yml
Due: none

deploy with bifrost as jumphost
  .github/workflows/deploy.yml
Due: none

Move button to bottom right and make it circular.
  src/routes/(app)/members/[studentId]/+page@(app).svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Rename all defaults of multi-language fields to <field>Sv and ensure maps
  src/database/schema.zmodel
Due: none

Fix hampus
  src/routes/(app)/members/[studentId]/+page@(app).svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix hampus (#735)
  src/routes/(app)/members/[studentId]/+page@(app).svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Manually correct SQL migration script
  src/database/prisma/migrations/20250224194704_add_language_tags_to_bilingual_fields/migration.sql
  src/database/prisma/schema.prisma
  src/database/seed/.snaplet/dataModel.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Fix error in migration, cannot combine renames
  src/database/prisma/migrations/20250224194704_add_language_tags_to_bilingual_fields/migration.sql
Due: none

Add important comment
  src/database/prisma/migrations/20250224194704_add_language_tags_to_bilingual_fields/migration.sql
Due: none

Fix it again :D
  src/database/prisma/migrations/20250224194704_add_language_tags_to_bilingual_fields/migration.sql
Due: none

Fix misspelling
  src/database/schema.zmodel
Due: none

Use bilingual tags
  src/database/seed/.snaplet/dataModel.json
  src/database/seed/data.ts
  src/database/seed/main.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

directus working example
  .env
  directus/database/data.db
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  src/lib/server/directus.ts
  src/routes/(nollning)/nollning/+page.server.ts
  src/routes/(nollning)/nollning/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix more stuff...
  src/database/seed/data.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint
