Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

YES! Database changes builds and seeds. Thats one small step for a man, one giant leap for mankind
  src/database/prisma/schema.prisma
Due: none

Rename all defaults of multi-language fields to <field>Sv and ensure maps
  src/database/schema.zmodel
Due: none

Fix error in migration, cannot combine renames
  src/database/prisma/migrations/20250224194704_add_language_tags_to_bilingual_fields/migration.sql
Due: none

Use bilingual tags
  src/database/seed/.snaplet/dataModel.json
  src/database/seed/data.ts
  src/database/seed/main.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix more stuff...
  src/database/seed/data.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Manually correct SQL migration script
  src/database/prisma/migrations/20250224194704_add_language_tags_to_bilingual_fields/migration.sql
  src/database/prisma/schema.prisma
  src/database/seed/.snaplet/dataModel.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Added new type for prisma models with their computed fields
  src/database/prisma/translationExtension.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add important comment
  src/database/prisma/migrations/20250224194704_add_language_tags_to_bilingual_fields/migration.sql
Due: none

Working translationExtension with updated types
  src/app.d.ts
  src/database/prisma/translationExtension.ts
  src/hooks.server.helpers.ts
  src/hooks.server.ts
  src/lib/server/extendedPrisma.ts
  src/lib/server/getCommitData.ts
  src/lib/server/loadHomeData.ts
  src/lib/utils/member.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Cleaned up and documented translationExtension
  src/database/prisma/translationExtension.ts
  src/lib/server/extendedPrisma.ts
  src/lib/server/getCommitData.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix misspelling
  src/database/schema.zmodel
Due: none

Fixed issue #507. Reformatted Calendar.svelte with svelte 5 runes syntax.
  package.json
  pnpm-lock.yaml
  src/routes/(app)/events/calendar/Calendar.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add poppler to deploy workflow
  .github/workflows/deploy.yml
Due: none

try to improve poppler fault tolerance
  poppler-server/index.js
  src/lib/search/syncDocuments.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add poppler to CI (#778)
  .github/workflows/deploy.yml
  poppler-server/index.js
  src/lib/search/syncDocuments.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Revert "Add poppler to CI (#778)"
  .github/workflows/deploy.yml
  poppler-server/index.js
  src/lib/search/syncDocuments.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix poppler CD
  .github/workflows/deploy.yml
Due: none

Polish deploy pipeline
  .github/workflows/deploy.yml
Due: none

Separate deploy into multiple jobs
  .github/workflows/deploy.yml
Due: none

Bump db dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Add cursed Prisma migration
  src/database/prisma/migrations/20250425221309_add_default_timestamp/migration.sql
  src/database/prisma/migrations/migration_lock.toml
Due: none

Remove obsolete version attribute
  docker-compose.yml
Due: none

Svelte 5: run self-closing-tags migration
  package.json
  pnpm-lock.yaml
  src/routes/(app)/admin/links/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Svelte 5: complete left over migration tasks
  src/lib/components/ConfirmDialog.svelte
  src/lib/components/DateInput.svelte
  src/lib/components/LoadingButton.svelte
  src/lib/components/Timer/ScrollingNumber.svelte
  src/lib/components/Timer/Timer.svelte
  src/lib/components/forms/FormDateInput.svelte
  src/lib/components/nav/PageHeader.svelte
  src/routes/(app)/events/EventEditor.svelte
  src/routes/(app)/news/Article.svelte
  src/routes/(app)/news/ArticleEditor.svelte
  src/routes/(app)/news/ArticleForm.svelte
  src/routes/(app)/news/[slug]/+page.svelte
  src/routes/(app)/news/create/+page@(app).svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Svelte 5: replace run with $effect
  src/lib/components/BuyButton.svelte
  src/lib/components/DateInput.svelte
  src/lib/components/Notification.svelte
  src/lib/components/ScrollIndicatedBox.svelte
  src/lib/components/Timer/ScrollingDigit.svelte
  src/lib/components/layout/ScrollIndicatedBox.svelte
  src/lib/components/nav/SetPageTitle.svelte
  src/lib/components/postReveal/PostRevealNotification.svelte
  src/lib/components/shop/EventSearchInput.svelte
  src/lib/components/shop/TicketForm.svelte
  src/lib/components/shop/cart/CartPage.svelte
  src/lib/components/shop/cart/ExpiresAtTimer.svelte
  src/lib/components/shop/cart/Questions/CartQuestionsModal.svelte
  src/lib/components/shop/cart/Reservation/CartReservation.svelte
  src/lib/components/shop/payments/CallbackPage.svelte
  src/lib/components/utils/AppNotificationTokenHandler.svelte
  src/lib/components/utils/AppUnreadNotificationHandler.svelte
  src/lib/components/utils/NavigationLoader.svelte
  src/routes/(app)/admin/links/+page.svelte
  src/routes/(app)/admin/minio/+page.svelte
  src/routes/(app)/documents/Tabs.svelte
  src/routes/(app)/documents/requirements/+page.svelte
  src/routes/(app)/documents/requirements/Folder.svelte
  src/routes/(app)/events/EventEditor.svelte
  src/routes/(app)/expenses/+page.svelte
  src/routes/(app)/search/+page.svelte
  src/routes/(nollning)/nolla/todo/+page.svelte
  src/routes/(nollning)/nollning/+layout.svelte
  src/routes/(nollning)/nollning/wikia/+layout.svelte
  src/routes/+layout.svelte
  src/routes/NotificationBell.svelte
  src/routes/Toast.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix price calculation
  src/lib/utils/convertPrice.test.ts
  src/lib/utils/convertPrice.ts
  src/routes/(app)/expenses/upload/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Replace other price conversions with lib function
  src/lib/server/shop/tickets/mutations.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Order governing documents alphabetically
  src/routes/(app)/documents/governing/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fixed issue #507. Reformatted Calendar.svelte with svelte 5 runes syntax. (#772)
  package.json
  pnpm-lock.yaml
  src/routes/(app)/events/calendar/Calendar.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix deleting own profile picture
  src/routes/(app)/members/[studentId]/profile-picture/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix 768 booking calendar empty
  src/routes/(app)/booking/+page.server.ts
  src/routes/(app)/booking/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yaml}
  prettier --check --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yaml}
  eslint: any of: *.{js,ts,svelte}
