Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Hide "staben" by denying reads of positions and mandates of them (#400)
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/hooks.server.helpers.ts
  src/hooks.server.ts
  src/lib/components/AuthorSignature.svelte
  src/lib/components/LoadingButton.svelte
  src/lib/server/shop/mock.ts
  src/lib/utils/adminSettings/nollning.ts
  src/lib/utils/apiNames.ts
  src/routes/(app)/admin/settings/+page.server.ts
  src/routes/(app)/admin/settings/+page.svelte
  src/routes/(app)/api/stripe/webhooks/+server.ts
  src/routes/(app)/documents/+page.server.ts
  src/routes/(app)/documents/DeleteFileForm.svelte
  src/routes/(app)/events/SmallEventCard.svelte
  src/routes/(app)/events/tv/TVEventCard.svelte
  src/routes/(app)/members/[studentId]/+page.server.ts
  src/routes/(app)/members/me/+page.server.ts
  src/routes/(app)/news/+page.svelte
  src/routes/(app)/news/ArticleEditor.svelte
  src/routes/(app)/news/SmallArticleCard.svelte
  src/routes/(app)/shop/tickets/[slug]/+page@(app).svelte
  src/routes/(app)/shop/tickets/[slug]/edit/+page.server.ts
  src/routes/(app)/shop/tickets/[slug]/manage/+page.server.ts
  src/routes/(app)/shop/tickets/[slug]/manage/download-csv/+server.ts
  src/routes/(app)/shop/tickets/create/+page.server.ts
  src/routes/routes.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add text for nations and packing list on todo page
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Cleanup notification type definition
  src/lib/utils/notifications/group.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix invalid constant
  src/lib/server/shop/types.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix invalid import
  src/routes/(app)/news/SmallArticleCard.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Group notifications and add avatars (#402)
  src/hooks.server.ts
  src/lib/components/MemberSearch.svelte
  src/lib/components/Notification.svelte
  src/lib/components/socials/AuthorAvatars.svelte
  src/lib/components/socials/AuthorSignature.svelte
  src/lib/components/socials/CustomAuthorImage.svelte
  src/lib/components/socials/DsekAvatar.svelte
  src/lib/components/socials/MemberAvatar.svelte
  src/lib/utils/client/member.ts
  src/lib/utils/notifications/group.ts
  src/lib/utils/notifications/index.ts
  src/lib/utils/notifications/types.ts
  src/routes/(app)/+layout.server.ts
  src/routes/(app)/api/notifications/my/+server.ts
  src/routes/(app)/events/InterestedGoingList.svelte
  src/routes/(app)/members/[studentId]/pings.ts
  src/routes/(app)/news/ArticleEditor.svelte
  src/routes/(app)/news/LikersList.svelte
  src/routes/(app)/news/SmallArticleCard.svelte
  src/routes/(app)/news/[slug]/+page.svelte
  src/routes/(app)/notifications/+page.svelte
  src/routes/(app)/shop/tickets/[slug]/manage/ConsumableRow.svelte
  src/routes/AppHeader.svelte
  src/routes/Navbar.svelte
  src/routes/NotificationBell.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Move notification get logic outside of +server file
  src/lib/utils/notifications/myNotifications.ts
  src/routes/(app)/+layout.server.ts
  src/routes/(app)/api/notifications/my/+server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Move notification get logic outside of +server file (#409)
  src/lib/utils/notifications/myNotifications.ts
  src/routes/(app)/+layout.server.ts
  src/routes/(app)/api/notifications/my/+server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Update pnpm-lock.yaml file
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Update CI to use pnpm v9
  .github/workflows/node.js.yml
Due: none

Fix gitignore
  .gitignore
  project.inlang/.gitignore
Due: none

Add missing migration
  src/database/prisma/migrations/20240724171020_drop_updated_at_constraint/migration.sql
Due: none

Fix missing migration + gitignore (#411)
  .gitignore
  project.inlang/.gitignore
  src/database/prisma/migrations/20240724171020_drop_updated_at_constraint/migration.sql
Due: none

Add PURCHASES notification setting defaults to all users in a migration
  src/database/prisma/migrations/20240705132900_add_purchases_notification_type/migration.sql
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/lib/utils/notifications/types.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove old "TODO:" comment
  src/lib/server/shop/payments/stripeWebhooks.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Show lottery timer in cart if item is reserved
  src/lib/server/shop/getTickets.ts
  src/routes/(app)/shop/cart/Reservation/CartReservation.svelte
  src/routes/(app)/shop/tickets/[slug]/manage/ConsumablesTable.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix file uploads
  src/routes/(app)/committees/EditCommitteeForm.svelte
  src/routes/(app)/committees/committee.server.ts
  src/routes/(app)/committees/types.ts
  src/routes/(app)/documents/upload/+page.server.ts
  src/routes/(app)/documents/upload/+page.svelte
  src/routes/(app)/documents/upload/types.ts
  src/routes/(app)/documents/upload/uploadFiles.ts
  src/routes/(app)/members/[studentId]/profile-picture/+page.server.ts
  src/routes/(app)/members/[studentId]/profile-picture/+page.svelte
  src/routes/(app)/members/[studentId]/profile-picture/ProfileImage.svelte
  src/routes/(app)/members/[studentId]/profile-picture/types.ts
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix item quesiton creation
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/lib/components/shop/ItemQuestion.svelte
  src/lib/components/shop/ItemQuestionOption.svelte
  src/lib/components/shop/ItemQuestionsSection.svelte
  src/lib/components/shop/MonetaryInput.svelte
  src/lib/components/shop/TicketForm.svelte
  src/lib/components/shop/types.ts
  src/lib/server/shop/questions.ts
  src/lib/server/shop/types.ts
  src/routes/(app)/documents/upload/+page.server.ts
  src/routes/(app)/documents/upload/+page.svelte
  src/routes/(app)/documents/upload/uploadFiles.ts
  src/routes/(app)/shop/cart/+page.server.ts
  src/routes/(app)/shop/tickets/[slug]/edit/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add FormSubmitButton and add delay to loading button
  src/lib/components/LoadingButton.svelte
  src/lib/components/forms/FormSubmitButton.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix form inputs
  src/lib/components/forms/FormNumberInput.svelte
  src/lib/components/forms/FormSelect.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

using dialog instead
  src/lib/components/Search.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

lint
  src/lib/components/Search.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add missing webshop fixes (#412)
  src/database/prisma/migrations/20240705132900_add_purchases_notification_type/migration.sql
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/lib/server/shop/getTickets.ts
  src/lib/server/shop/payments/stripeWebhooks.ts
  src/lib/utils/notifications/types.ts
  src/routes/(app)/shop/cart/Reservation/CartReservation.svelte
  src/routes/(app)/shop/tickets/[slug]/manage/ConsumablesTable.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix crash on notifications from hidden authors
  src/lib/utils/notifications/group.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Set up documentation page
  .github/workflows/deploy-docs.yml
  docs/.gitignore
  docs/.vscode/extensions.json
  docs/.vscode/launch.json
  docs/README.md
  docs/astro.config.mjs
  docs/package.json
  docs/pnpm-lock.yaml
  docs/public/favicon.svg
  docs/src/assets/houston.webp
  docs/src/content/config.ts
  docs/src/content/docs/guides/example.md
  docs/src/content/docs/guides/getting-started.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/example.md
  docs/src/env.d.ts
  docs/src/styles/custom.css
  docs/tsconfig.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Set up pnpm workspace
  docs/pnpm-lock.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Fix missing base prefix for index link
  docs/astro.config.mjs
  docs/src/content/docs/index.mdx
Due: none

Rename environment to Documentation
  .github/workflows/deploy-docs.yml
Due: none

Fix questions creation/editing
  src/lib/components/forms/FormCheckbox.svelte
  src/lib/components/forms/FormSelect.svelte
  src/lib/components/shop/ItemQuestion.svelte
  src/lib/components/shop/ItemQuestionOption.svelte
  src/lib/components/shop/ItemQuestionsSection.svelte
  src/lib/components/shop/MonetaryInput.svelte
  src/lib/components/shop/TicketForm.svelte
  src/lib/server/shop/payments/purchase.ts
  src/lib/server/shop/tickets/mutations.ts
  src/routes/(app)/shop/inventory/[id]/+page.server.ts
  src/routes/(app)/shop/inventory/[id]/+page@(app).svelte
  src/routes/(app)/shop/tickets/TicketCard/TicketEvent.svelte
  src/routes/(app)/shop/tickets/[slug]/edit/+page.server.ts
  src/routes/(app)/shop/tickets/[slug]/manage/ConsumableRow.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix color on QR code in dark/light mode
  src/app.d.ts
  src/lib/utils/themes.ts
  src/routes/(app)/shop/inventory/+page.server.ts
  src/routes/(app)/shop/inventory/[id]/QRCode.svelte
  src/routes/+layout.server.ts
  tailwind.config.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix deletion of mocked data
  src/lib/server/shop/mock.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove console logs
  src/lib/components/shop/TicketForm.svelte
  src/lib/server/shop/questions.ts
  src/lib/server/shop/tickets/mutations.ts
  src/routes/(app)/api/notifications/uploadToken/uploadNotificationToken.ts
  src/routes/(app)/members/[studentId]/+page.server.ts
  src/routes/(app)/members/[studentId]/pings.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix lint and ts
  src/hooks.server.ts
  src/lib/components/LoadingButton.svelte
  src/lib/server/shop/types.ts
  src/routes/(app)/admin/settings/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add catch-all 404 for (app)
  src/routes/(app)/[...path]/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Show more error info when uploading profile pic
  src/routes/(app)/members/[studentId]/profile-picture/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Only show edit button on profile if user can edit
  src/routes/(app)/members/[studentId]/ProfilePage.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add debug page
  src/routes/(app)/admin/debug/+page.server.ts
  src/routes/(app)/admin/debug/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yaml}
  prettier --check --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yaml}
  eslint: any of: *.{js,ts,svelte}
