Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

.lintstagedrc:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json,yaml}": [
    "prettier --write --plugin-search-dir=.",
    "prettier --check --plugin-search-dir=."
  ],
  "*.{js,ts,svelte}": "eslint"
}

Delete recurring events
  src/routes/(app)/events/Event.svelte
  src/routes/(app)/events/[slug]/+page.svelte
  src/routes/(app)/events/removeEventAction.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Create recurring events
  src/dayjs-plugins.ts
  src/lib/utils/events.ts
  src/routes/(app)/events/[slug]/edit/+page.server.ts
  src/routes/(app)/events/[slug]/edit/+page@(app).svelte
  src/routes/(app)/events/[slug]/edit/EventEditor.svelte
  src/routes/(app)/events/create/+page.server.ts
  src/routes/(app)/events/create/+page@(app).svelte
  src/routes/(app)/events/create/EventCreator.svelte
  src/routes/(app)/events/schema.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove unnecessary prisma db fields
  src/database/prisma/migrations/20240420184723_add_recurring_events/migration.sql
  src/database/prisma/migrations/20240502164907_add_recurring_events/migration.sql
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/routes/(app)/events/create/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix Event type in component
  src/routes/(app)/events/Event.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Recurring events database schema
  src/database/prisma/migrations/20240420184723_add_recurring_events/migration.sql
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
Due: none

Add ESLint rule for importing wrong goto or redirect
  .eslintrc.cjs
Due: none

Add exception to rule in wrapper
  src/lib/utils/redirect.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove occurences of incorrect redirects
  src/hooks.server.ts
  src/routes/(app)/+page.server.ts
  src/routes/(app)/home/+page.server.ts
  src/routes/(app)/notifications/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix news refresh bug
  src/routes/(app)/news/SmallArticleCard.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Trigger jenkins after release
  .github/workflows/release.yml
Due: none

Add necessary files to zip
  .github/workflows/release.yml
Due: none

Curl instead of wget
  Jenkinsfile
Due: none

Deploy done
  .github/workflows/deploy.yml
  Jenkinsfile
  deploy-script.sh
Due: none

30 push notifications (#279)
  src/lib/utils/notifications/index.ts
  src/lib/utils/notifications/push.ts
  src/routes/(app)/events/interestedGoing.ts
  src/routes/(app)/members/[studentId]/pings.ts
  src/routes/(app)/news/create/+page.server.ts
  src/routes/(app)/news/likes.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix user search linking and change styling of dropdown
  src/lib/components/Search.svelte
  src/routes/Navbar.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove green color from prices
  src/lib/components/Price.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Make buttons in user menu full width
  src/routes/UserMenu.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix dark text on dark background for ticket cards
  src/routes/(app)/shop/inventory/Consumable.svelte
  src/routes/(app)/shop/tickets/TicketCard/TicketEvent.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Restyle action buttons on documents page
  src/routes/(app)/documents/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Restyle action button on requirements page
  src/routes/(app)/documents/requirements/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Misc cosmetic improvements (#325)
  src/lib/components/Price.svelte
  src/routes/(app)/documents/+page.svelte
  src/routes/(app)/documents/requirements/+page.svelte
  src/routes/(app)/shop/inventory/Consumable.svelte
  src/routes/(app)/shop/tickets/TicketCard/TicketEvent.svelte
  src/routes/UserMenu.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add zenstack generate to pnpm generate (#319)
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Added settings page
  src/lib/zod/schemas.ts
  src/routes/(app)/settings/+page.server.ts
  src/routes/(app)/settings/+page.svelte
  src/routes/(app)/settings/SubscriptionTags.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Make secret env variables dynamic
  src/hooks.server.ts
  src/lib/files/minio.ts
  src/lib/server/keycloak/index.ts
  src/lib/server/shop/payments/stripe.ts
  src/routes/(app)/api/stripe/webhooks/+server.ts
  src/routes/(app)/yrka/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Use pnpm
  .github/workflows/deploy.yml
  deploy-script.sh
Due: none

Add a ESLint rule for importing `goto` and `redirect` from wrong directories (#320)
  .eslintrc.cjs
  src/hooks.server.ts
  src/lib/utils/redirect.ts
  src/routes/(app)/+page.server.ts
  src/routes/(app)/home/+page.server.ts
  src/routes/(app)/notifications/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add drawer to error page
  src/routes/+error.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix translation of routes
  src/routes/Drawer.svelte
  src/routes/Navbar.svelte
  src/routes/routes.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Install all dependencies
  deploy-script.sh
Due: none

Use pnpm v9 in deploy
  .github/workflows/deploy.yml
Due: none

zenstack generate on deploy
  deploy-script.sh
Due: none
