Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Re-mount app notification handlers to fix iOS badge not clearing
  src/routes/(app)/+layout.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add missing migration for recurringevent table
  src/database/prisma/migrations/20260914163028_fix_recurringevent_table/migration.sql
  src/database/seed/.snaplet/dataModel.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Add missing migration for recurringevent table (#1308)
  src/database/prisma/migrations/20260914163028_fix_recurringevent_table/migration.sql
  src/database/seed/.snaplet/dataModel.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

add navigation icons (#1303)
  src/lib/components/icons/Cap.svelte
  src/lib/components/ui/navigation-menu/navigation-menu-content-item.svelte
  src/routes/(app)/Header.svelte
  src/routes/routes.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Spellcheck translation keys
  codebook.toml
  dev/check_translations.sh
  src/lib/components/Editor.svelte
  src/lib/components/FileUpload.svelte
  src/lib/components/datetime-selector/DateTimeSelector.svelte
  src/lib/components/datetime-selector/TimePicker.svelte
  src/lib/components/dualSelect/DualSelect.svelte
  src/lib/components/ui/input/input.svelte
  src/lib/files/uploadFiles.ts
  src/lib/server/shop/inventory/getInventory.ts
  src/lib/server/shop/payments/paymentCallback.ts
  src/routes/(app)/app/home/+page.svelte
  src/routes/(app)/applying/+page.svelte
  src/routes/(app)/committees/nollu/groups/PhadderGroup.svelte
  src/routes/(app)/contact/+page.svelte
  src/routes/(app)/events/[slug]/scan/[consumable]/+page.server.ts
  src/routes/(app)/expenses/ExpenseDialog.svelte
  src/routes/(app)/expenses/[id]/+page.svelte
  src/routes/(app)/home/+page.svelte
  src/routes/(app)/members/[studentId]/+page.server.ts
  src/routes/(app)/members/[studentId]/edit/+page.server.ts
  src/routes/(app)/members/[studentId]/pings.ts
  src/routes/(app)/news/+page.svelte
  src/routes/(app)/privacy-policy/+page.svelte
  src/routes/(app)/songbook/+page.svelte
  src/routes/(app)/songbook/create/+page.svelte
  src/routes/+page.svelte
  src/routes/routes.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Perform an act of bravery
  src/routes/routes.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add some route translations
  src/routes/routes.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

SPellcheck scheduler-service
  codebook.toml
  scheduler-service/docker-compose.yaml
  scheduler-service/rateLimitMiddleware.go
  scheduler-service/taskHandler.go
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Spellcheck the pirvacy policy
  codebook.toml
  src/routes/(app)/privacy-policy/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove pnpm-lock.yaml from spellchecking
  codebook.toml
Due: none

Add more tools to the dictionary
  codebook.toml
Due: none

Fix formating
  src/lib/components/FileUpload.svelte
  src/routes/(app)/members/[studentId]/MemberForm.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix SVG scoped codebook block
  codebook.toml
Due: none

Fix translation keys
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Translate /yrka
  codebook.toml
  src/routes/(app)/yrka/+page.server.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Spellcheck miscellaneous files
  codebook.toml
  src/database/schema.zmodel
  src/lib/components/postReveal/types.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Spellcheck salto/constants
  codebook.toml
  src/routes/(app)/salto/[door]/constants.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Translate tickets/edit
  codebook.toml
  src/routes/(app)/shop/tickets/[slug]/edit/+page.server.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Spellcheck songbook/helpers
  codebook.toml
  src/routes/(app)/songbook/helpers.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Translate tickets/manage
  src/routes/(app)/shop/tickets/[slug]/manage/+page.server.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove superflous SVG metadata
  src/routes/(nollning)/nollning/(photos)/favicon.svg
  src/routes/(nollning)/nollning/(photos)/infinity.svg
  src/routes/(nollning)/nollning/(photos)/logo25.svg
  src/routes/(nollning)/nollning/wikia/map/cellar.svg
  src/routes/(nollning)/nollning/wikia/map/floor1.svg
  src/routes/(nollning)/nollning/wikia/map/floor2.svg
  src/routes/(nollning)/nollning/wikia/map/floor3.svg
  src/routes/(nollning)/nollning/wikia/map/floor4.svg
  src/routes/(nollning)/nollning/wikia/map/map.svg
Due: none

Spellcheck miscellaneous files
  codebook.toml
Due: none

SPellcheck tickets/create
  src/routes/(app)/shop/tickets/[slug]/edit/+page.server.ts
  src/routes/(app)/shop/tickets/create/+page.server.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove `mode: "jit"` from the tailwind config
  tailwind.config.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Spellcheck miscellaneous files
  codebook.toml
  src/lib/components/ui/data-table/render-helpers.ts
  src/lib/server/loadHomeData.ts
  src/lib/server/shop/payments/stripeMethods.ts
  src/lib/utils/convertPrice.ts
  src/lib/utils/payments/transactionFee.ts
  src/routes/(app)/app/home/+page.svelte
  src/routes/(app)/home/+page.svelte
  src/routes/(app)/members/[studentId]/+page.svelte
  src/routes/(app)/news/+page.server.ts
  src/routes/(app)/news/create/+page.svelte
  src/routes/(app)/settings/settings.remote.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix errors && warnings
  src/database/seed/data.ts
  src/database/seed/main.ts
  src/hooks.ts
  src/lib/server/medals/medals.ts
  src/lib/server/shop/payments/purchase.test.ts
  src/routes/(app)/applying/+page.svelte
  src/routes/(app)/committees/cafe/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix errors
  codebook.toml
  src/routes/(app)/news/+page.server.ts
  src/routes/(app)/news/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix errors from rebase
  src/routes/(app)/admin/access/[apiName]/+page.server.ts
  src/routes/(app)/members/[studentId]/+page.server.ts
  src/routes/(app)/shop/tickets/[slug]/manage/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix weeks
  src/routes/(app)/committees/cafe/CafeSchedule.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix admin/links tag error, add filter UI, remove stocklist/QR scanner, clean up TV display page
  package.json
  pnpm-lock.yaml
  src/lib/components/QRCodeScanner.svelte
  src/lib/hooks/useQRScanner.ts
  src/routes/(app)/(tv)/+layout@.svelte
  src/routes/(app)/(tv)/news/tv/+page.server.ts
  src/routes/(app)/(tv)/news/tv/+page.svelte
  src/routes/(app)/admin/links/+page.svelte
  src/routes/(app)/admin/stocklist/+page.server.ts
  src/routes/(app)/admin/stocklist/+page.svelte
  src/routes/(app)/admin/stocklist/addproduct/+page.server.ts
  src/routes/(app)/admin/stocklist/addproduct/+page.svelte
  src/routes/(app)/admin/stocklist/navbuttons.svelte
  src/routes/(app)/admin/stocklist/showproducts/+page.server.ts
  src/routes/(app)/admin/stocklist/showproducts/+page.svelte
  src/routes/(app)/admin/stocklist/stockchange/+page.server.ts
  src/routes/(app)/admin/stocklist/stockchange/+page.svelte
  src/routes/(app)/admin/stocklist/treasury/+page.server.ts
  src/routes/(app)/admin/stocklist/treasury/+page.svelte
  src/routes/routes.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix tag selector scroll bar
  src/lib/components/TagSelector.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove tinted background from admin info and yrka card headers
  src/routes/(app)/admin/info/+page.svelte
  src/routes/(app)/yrka/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Spellcheck a comment
  src/lib/member/settings.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix lint errors in admin/links filter UI
  src/routes/(app)/(tv)/news/tv/+page.svelte
  src/routes/(app)/admin/links/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add opencode reviews
  .github/workflows/opencode-review.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yaml}
  prettier --check --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yaml}
  eslint: any of: *.{js,ts,svelte}
