Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

.lintstagedrc:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json,yaml}": [
    "prettier --write --plugin-search-dir=.",
    "prettier --check --plugin-search-dir=."
  ],
  "*.{js,ts,svelte}": "eslint"
}

change "council" to "board" when refering to "styrelsen"
  src/routes/(app)/booking/BookingEditor.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Style tweaks
  src/routes/(app)/events/Event.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Tweaks to class check
  src/routes/(app)/events/Event.svelte
  src/routes/(app)/events/EventEditor.svelte
  src/routes/(app)/events/SmallEventCard.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Removed unnecessary variable
  src/routes/(app)/events/EventEditor.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix #235 Add cancelling feature to events (#591)
  src/database/prisma/migrations/20241118182939_add_iscancelled_to_event/migration.sql
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/database/seed/.snaplet/dataModel.json
  src/lib/events/schema.ts
  src/routes/(app)/events/Event.svelte
  src/routes/(app)/events/EventEditor.svelte
  src/routes/(app)/events/SmallEventCard.svelte
  src/routes/(app)/events/calendar/Calendar.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fixed Svelte 5 breaking changes; form inside form
  src/lib/components/Pagination.svelte
  src/lib/components/forms/FormSubmitButton.svelte
  src/routes/(app)/admin/links/+page.svelte
  src/routes/(app)/events/EventEditor.svelte
  src/routes/(app)/events/[slug]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix #538 "Bookings for styrelserummet should show a warning" (#586)
  src/database/seed/data.ts
  src/routes/(app)/booking/BookingEditor.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Update src/translations/en.json
  src/translations/en.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Removed unnecessary deletedAt check
  src/routes/(app)/documents/governing/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Added id to page with multiple forms
  src/routes/(app)/committees/EditCommitteeForm.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Changed 'Sjungbok' to 'Sångbok'
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Center name on home page
  src/routes/(app)/home/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: remove need to use onMount for feature flags
  docs/guides/featureflags.md
  src/lib/utils/featureFlag.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Center name on home page (#598)
  src/routes/(app)/home/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Changed 'Sjungbok' to 'Sångbok' (#596)
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Revert "Changed 'Sjungbok' to 'Sångbok' (#596)"
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Migrated EsLint to new format
  .eslintignore
  .eslintrc.cjs
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Undid oopsie
  src/routes/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Smaller dependency updates
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Migrated to svelte5
  src/routes/(app)/songbook/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Mark props correctly as optional
  src/lib/components/Pagination.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fixed small issues
  src/routes/(app)/songbook/[slug]/edit/+page.svelte
  src/routes/native-app-router/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Added support for wildcard roles in door access policies (#590)
  src/routes/(app)/salto/[door]/+server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

New column on governing documents page for year specific documents (#584)
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/database/seed/.snaplet/dataModel.json
  src/routes/(app)/documents/governing/+page.server.ts
  src/routes/(app)/documents/governing/+page.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add feature flags (#578)
  docs/.vitepress/config.ts
  docs/guides/featureflags.md
  src/lib/utils/featureFlag.ts
  src/routes/(app)/admin/debug/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Added id to page with multiple forms (#595)
  src/routes/(app)/committees/EditCommitteeForm.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Bump dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

let another person handle it
  src/routes/(app)/members/[studentId]/HeldPositionsYear.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix anchor tag errors
  src/routes/(app)/documents/governing/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

style: :art: update style of name
  src/routes/(app)/members/[studentId]/ProfileHeader.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Resize images on client before upload.
  src/routes/(app)/members/[studentId]/profile-picture/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix color bug on light mode
  src/routes/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

made songbook search keep focus and scroll position
  src/lib/components/SearchBar.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: :sparkles: truncate the name in getFullName
  src/lib/utils/client/member.ts
  src/routes/(app)/members/[studentId]/UpdateMemberForm.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

allow people with the write access policy to delete governing documents
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
Due: none

Added migration for document types
  src/database/prisma/migrations/20241105180919_added_more_document_types/migration.sql
Due: none

Added migration for document types (#607)
  src/database/prisma/migrations/20241105180919_added_more_document_types/migration.sql
Due: none

made songbook search keep focus and scroll position (#605)
  src/lib/components/SearchBar.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint
