Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Added navbar and footer to error page
  src/routes/+error.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Removed Paraglide from sub-layout
  src/routes/(app)/+layout.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Create pr-assign-author.yml
  .github/workflows/pr-assign-author.yml
Due: none

Stylistic eslint (#173)
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/database/prisma/translationExtension.ts
  src/lib/components/Input.svelte
  src/lib/components/Labeled.svelte
  src/lib/components/MarkdownBody.svelte
  src/lib/components/PageHeader.svelte
  src/lib/components/Pagination.svelte
  src/lib/components/TagChip.svelte
  src/lib/components/TagSelector.svelte
  src/lib/components/socials/CommentSection.svelte
  src/lib/components/socials/MemberAvatar.svelte
  src/lib/server/keycloak/index.ts
  src/lib/utils/authorization.ts
  src/lib/utils/commentTagging.ts
  src/lib/utils/notifications/types.ts
  src/routes/(app)/api/mail/alias/+server.ts
  src/routes/(app)/bookings/Calendar.svelte
  src/routes/(app)/committees/PositionCard.svelte
  src/routes/(app)/committees/PositionGrid.svelte
  src/routes/(app)/committees/committee.server.ts
  src/routes/(app)/documents/+page.svelte
  src/routes/(app)/documents/File.svelte
  src/routes/(app)/documents/Meeting.svelte
  src/routes/(app)/documents/requirements/+page.svelte
  src/routes/(app)/documents/requirements/Folder.svelte
  src/routes/(app)/members/[studentId]/HeldPositionsYear.svelte
  src/routes/(app)/members/[studentId]/profile-picture/+page.svelte
  src/routes/(app)/members/[studentId]/profile-picture/ProfileImage.svelte
  src/routes/(app)/news/ArticleEditor.svelte
  src/routes/(app)/positions/[id]/+page.svelte
  src/routes/(app)/positions/[id]/DeleteMandateForm.svelte
  src/routes/(app)/songbook/+page.server.ts
  src/routes/(app)/songbook/SongElement.svelte
  src/routes/(app)/webshop/cart/Cart.svelte
  tsconfig.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix scroll and placement for list (#175)
  src/routes/(app)/events/InterestedGoingList.svelte
  src/routes/(app)/news/LikersList.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

reuse variable
  src/routes/(app)/members/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Testing jenkins
  Jenkinsfile
  src/routes/+layout.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

test
  src/routes/+layout.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Change sort order
  src/routes/(app)/members/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Show class badge when viewing all programmes
  src/routes/(app)/members/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Make page title uppercase
  src/routes/(app)/members/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Class year page (#171)
  src/lib/components/ClassBadge.svelte
  src/routes/(app)/members/+page.server.ts
  src/routes/(app)/members/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

nav styling changes (#183)
  src/routes/(app)/Footer.svelte
  src/routes/(app)/Navbar.svelte
  src/routes/(app)/NotificationBell.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix calendar button color
  src/lib/FullCalendar.css
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

changes to jenkinsfile
  Jenkinsfile
Due: none

test
  Jenkinsfile
Due: none

Fix invalid truth chaining
  src/lib/utils/member.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix grid layout on profile page
  src/lib/components/ClassBadge.svelte
  src/lib/utils/client/member.ts
  src/lib/utils/member.ts
  src/routes/(app)/members/[studentId]/+page.svelte
  src/routes/(app)/members/[studentId]/DoorAccess.svelte
  src/routes/(app)/members/[studentId]/EditButton.svelte
  src/routes/(app)/members/[studentId]/HeldPositions.svelte
  src/routes/(app)/members/[studentId]/HeldPositionsYear.svelte
  src/routes/(app)/members/[studentId]/MyProfilePage.svelte
  src/routes/(app)/members/[studentId]/ProfileHeader.svelte
  src/routes/(app)/members/[studentId]/UpdateMemberForm.svelte
  src/routes/(app)/members/[studentId]/edit-bio/+page.server.ts
  src/routes/(app)/members/[studentId]/types.ts
  tailwind.config.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix formatting
  src/routes/(app)/members/[studentId]/MyProfilePage.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Update POSTGRES_URL env variable name
  .env
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
Due: none

Nuke D-sek Wrapped
  src/routes/(app)/dsek-wrapped/+layout.svelte
  src/routes/(app)/dsek-wrapped/+page.server.ts
  src/routes/(app)/dsek-wrapped/+page.svelte
  src/routes/(app)/routes.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Make dates not in this year say so
  src/lib/utils/client/datetime.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove the requirement for a link when creating an event
  src/routes/(app)/events/EventEditor.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Redirect to actual routes when done creating or editing an event
  src/routes/(app)/events/[slug]/edit/+page.server.ts
  src/routes/(app)/events/create/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Test
  Jenkinsfile
Due: none

Add color to logs
  Jenkinsfile
Due: none

Added Jenkinsfile
  Jenkinsfile
Due: none

Add Vercel Speed Insights performance package
  package.json
  pnpm-lock.yaml
  src/routes/+layout.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yaml}
  prettier --check --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yaml}
  eslint: any of: *.{js,ts,svelte}
