Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

.lintstagedrc:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json,yaml}": [
    "prettier --write --plugin-search-dir=.",
    "prettier --check --plugin-search-dir=."
  ],
  "*.{js,ts,svelte}": "eslint"
}

fix: updating recurring events
  src/routes/(app)/events/EventEditor.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: svelte elements error
  src/database/seed/data.ts
  src/lib/components/forms/FormSelect.svelte
  src/lib/components/forms/FormSubmitButton.svelte
  src/lib/components/member/SubscriptionTags.svelte
  src/lib/components/shop/MaxAmountPerUser.svelte
  src/lib/utils/adminSettings/nollning.ts
  src/routes/(app)/admin/links/+page.server.ts
  src/routes/(app)/booking/BookingEditor.svelte
  src/routes/(app)/committees/nollu/groups/PhadderGroupForm.svelte
  src/routes/(app)/committees/types.ts
  src/routes/(app)/events/EventEditor.svelte
  src/routes/(app)/expenses/all/+page.server.ts
  src/routes/(app)/expenses/types.ts
  src/routes/(app)/expenses/upload/ExpenseReceiptRow.svelte
  src/routes/(app)/medals/+page.server.ts
  src/routes/(app)/members/[studentId]/profile-picture/types.ts
  src/routes/(app)/news/ArticleForm.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

prep for tailwind upgrade
  src/app.css
  src/routes/(nollning)/nolla/nolla.css
  src/routes/(nollning)/nollning/postReveal.css
  src/routes/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

temp: remove plugin to run tailwind migration
  tailwind.config.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

wip
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/app.css
  src/lib/components/SearchBar.svelte
  src/lib/components/TagSelector.svelte
  src/lib/components/forms/FormFileInput.svelte
  src/lib/components/forms/FormFilesInput.svelte
  src/lib/components/layout/LangTabs.svelte
  src/routes/(app)/documents/upload/+page.svelte
  src/routes/(app)/members/[studentId]/profile-picture/+page.svelte
  src/routes/(app)/news/+page.svelte
  src/routes/(app)/news/ArticleForm.svelte
  src/routes/(nollning)/nolla/nolla.css
  src/routes/(nollning)/nollning/postReveal.css
  tailwind.config.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix(expenses): 🐛 support adding commas in expense fields (#847)
  src/lib/components/forms/FormNumberInput.svelte
  src/routes/(app)/expenses/upload/ExpenseReceiptRow.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add UI elements
  src/routes/(app)/booking/BookingEditor.svelte
  src/routes/(app)/booking/create/+page.server.ts
  src/routes/(app)/booking/schema.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix linting errors in `translationExtension`
  src/database/prisma/translationExtension.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

re-export `ExtendedPrismaModel` in `lib`
  src/lib/server/extendedPrisma.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add `.idea` to gitignore
  .gitignore
Due: none

move sync to endpoint
  src/hooks.server.ts
  src/routes/(app)/api/sync/+server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add password to endpoint
  .env
  src/routes/(app)/api/sync/+server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

ignore linter
  src/routes/(app)/api/sync/+server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix env syntax
  src/routes/(app)/api/sync/+server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add reason for eslint disable
  src/routes/(app)/api/sync/+server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

782 move sync to cronjobs
  .env
  src/hooks.server.ts
  src/routes/(app)/api/sync/+server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Added shell.nix for setting up dev environment with nix
  shell.nix
Due: none

Added shell.nix for setting up dev environment with nix (#868)
  shell.nix
Due: none

test stale bot
  .github/workflows/stalebot.yml
Due: none

Add manual run for stale bot
  .github/workflows/stalebot.yml
Due: none

Activate stale bot
  .github/workflows/stalebot.yml
Due: none

chore: small fixes
  src/lib/files/client.ts
  src/lib/files/fileHandler.ts
  src/lib/news/server/actions.ts
  src/routes/(app)/expenses/upload/ExpenseReceipt.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Compress images on the client (#810)
  package.json
  pnpm-lock.yaml
  src/lib/components/Labeled.svelte
  src/lib/components/forms/FormFileInput.svelte
  src/lib/components/forms/FormFilesInput.svelte
  src/lib/files/client.ts
  src/lib/files/fileHandler.ts
  src/lib/news/schema.ts
  src/lib/news/server/actions.ts
  src/lib/utils/client/superForms.ts
  src/routes/(app)/events/EventEditor.svelte
  src/routes/(app)/expenses/upload/+page.server.ts
  src/routes/(app)/expenses/upload/ExpenseReceipt.svelte
  src/routes/(app)/news/ArticleForm.svelte
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

added mark all read and remove all to notifications modal (#814)
  src/lib/components/NotificationModal.svelte
  src/routes/(nollning)/nollning/PostRevealHeader.svelte
  src/routes/AppHeader.svelte
  src/routes/NotificationBell.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fixed update event
  src/database/schema.zmodel
Due: none

fixed update event (#869)
  src/database/schema.zmodel
Due: none

fix linting errors
  src/lib/server/loadHomeData.ts
  src/routes/(app)/+layout.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Improve UI elements
  src/lib/components/PosSelector.svelte
  src/routes/(app)/booking/BookingEditor.svelte
  src/routes/(app)/booking/schema.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove old email alias pages
  src/routes/(app)/admin/email-alias/+layout.server.ts
  src/routes/(app)/admin/email-alias/+page.server.ts
  src/routes/(app)/admin/email-alias/+page.svelte
  src/routes/(app)/admin/email-alias/[email]/+page.server.ts
  src/routes/(app)/admin/email-alias/[email]/+page.svelte
  src/routes/(app)/admin/email-alias/[email]/EmailAliasForm.svelte
  src/routes/(app)/admin/email-alias/[email]/SpecialReceiverForm.svelte
  src/routes/(app)/admin/email-alias/[email]/SpecialSenderForm.svelte
  src/routes/(app)/admin/email-alias/[email]/schema.ts
  src/routes/(app)/admin/email-alias/emailutils.test.ts
  src/routes/(app)/admin/email-alias/emailutils.ts
  src/routes/(app)/admin/email-alias/schema.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add /email-alias/[id] page with recipient editing
  src/lib/server/authentik/helpers.ts
  src/lib/server/authentik/index.ts
  src/routes/(app)/admin/email-alias/+page.svelte
  src/routes/(app)/admin/email-alias/[id]/+page.server.ts
  src/routes/(app)/admin/email-alias/[id]/+page.svelte
  src/routes/(app)/admin/email-alias/helpers.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Delete mail API endpoints
  src/routes/(app)/api/mail/alias/+server.ts
  src/routes/(app)/api/mail/alias/senders/+server.ts
  src/routes/(app)/api/mail/alias/senders/server.test.ts
  src/routes/(app)/api/mail/alias/server.test.ts
  src/routes/(app)/api/mail/alias/utils.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Use authentik for /email-alias page
  src/lib/server/authentik/helpers.ts
  src/lib/server/authentik/index.ts
  src/lib/utils/cache.ts
  src/routes/(app)/admin/email-alias/+page.server.ts
  src/routes/(app)/admin/email-alias/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix breaking typo in env
  .env
Due: none

Add new /email-alias page
  src/routes/(app)/admin/email-alias/+page.server.ts
  src/routes/(app)/admin/email-alias/+page.svelte
  src/routes/(app)/admin/email-alias/helpers.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove email tables
  src/database/prisma/migrations/20250916095154_remove_email_tables/migration.sql
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/database/seed/.snaplet/dataModel.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix: support negative values in expenses
  src/lib/components/forms/FormNumberInput.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix form updating
  src/routes/(app)/booking/BookingEditor.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint
