Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

.lintstagedrc:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json,yaml}": [
    "prettier --write --plugin-search-dir=.",
    "prettier --check --plugin-search-dir=."
  ],
  "*.{js,ts,svelte}": "eslint"
}

fixes corners around web minecraft component (#894)
  src/lib/components/home/Minecraft.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

chore: remove sentry
  .env
  .github/workflows/deploy.yml
  .gitignore
  Dockerfile
  package.json
  pnpm-lock.yaml
  src/hooks.client.ts
  src/hooks.server.ts
  vite.config.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

chore: remove sentry (#896)
  .env
  .github/workflows/deploy.yml
  .gitignore
  Dockerfile
  package.json
  pnpm-lock.yaml
  src/hooks.client.ts
  src/hooks.server.ts
  vite.config.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add staging build workflow
  .github/workflows/deploy-staging.yml
Due: none

Potential fix for code scanning alert no. 11: Workflow does not contain permissions
  .github/workflows/deploy-staging.yml
Due: none

Add staging build workflow (#897)
  .github/workflows/deploy-staging.yml
Due: none

Update src/routes/(app)/events/[slug]/scan/[consumable]/+page.svelte
  src/routes/(app)/events/[slug]/scan/[consumable]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix first review
  src/lib/news/schema.ts
  src/lib/news/server/actions.ts
  src/routes/(app)/committees/EditCommitteeForm.svelte
  src/routes/(app)/committees/types.ts
  src/routes/(app)/elections/+page.server.ts
  src/routes/(app)/elections/ElectionEditor.svelte
  src/routes/(app)/elections/[id]/edit/+page.server.ts
  src/routes/(app)/news/ArticleEditor.svelte
  src/routes/(app)/news/ArticleForm.svelte
  src/routes/(app)/news/tags/+page.server.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix dockerfile
  Dockerfile
Due: none

fix svelte check errors
  src/routes/(app)/elections/ElectionEditor.svelte
  src/routes/(app)/elections/[id]/edit/+page.server.ts
  src/routes/(app)/elections/create/+page.server.ts
  src/routes/(app)/news/tags/+page.svelte
  src/routes/(app)/news/tags/TagEditorRow.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix copilot review issues
  src/lib/components/shop/ItemQuestion.svelte
  src/lib/components/shop/ItemQuestionOption.svelte
  src/lib/components/shop/ItemQuestionsSection.svelte
  src/lib/components/shop/TicketForm.svelte
  src/lib/server/shop/tickets/mutations.ts
  src/lib/utils/shop/types.ts
  src/lib/zod/schemas.ts
  src/routes/(app)/positions/[id]/+page.server.ts
  src/routes/(app)/positions/[id]/UpdatePositionForm.svelte
  src/routes/(app)/shop/tickets/[slug]/edit/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

nicer design
  src/routes/(app)/positions/[id]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix incorrect merge changes
  src/lib/server/loadHomeData.ts
  src/routes/(app)/api/home/+server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Start extracting mandate and mandate editing from positions page
  src/routes/(app)/positions/[id]/+page.svelte
  src/routes/(app)/positions/[id]/Mandate.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

It can now store files at minio sandbox
  .env
Due: none

Added translation key positions_removeMandate
  src/routes/(app)/positions/[id]/DeleteMandateForm.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix UpdateMandateForm not filling with information, and make edit mandate button prettier
  src/routes/(app)/positions/[id]/Mandate.svelte
  src/routes/(app)/positions/[id]/UpdateMandateForm.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Cleanup unused code
  src/routes/(app)/positions/[id]/Mandate.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

It can now store files at minio sandbox (#901)
  .env
Due: none

align file download button to the right
  src/routes/(app)/documents/FileWithDownload.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

set max width for statues/regulations documents
  src/routes/(app)/documents/governing/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

implement remove functionality
  src/routes/(app)/expenses/+page.server.ts
  src/routes/(app)/expenses/ExpenseDetailView.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix styling
  .github/workflows/deploy-staging.yml
  src/database/prisma/migrations/20250224194704_add_language_tags_to_bilingual_fields/migration.sql
  src/lib/server/extendedPrisma.ts
  src/routes/(app)/expenses/ExpenseDetailView.svelte
  src/routes/(app)/members/[studentId]/PhadderGroupModal.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix alerts form
  src/routes/(app)/admin/alerts/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix editing events
  src/lib/events/server/actions.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

language button is now visible in app
  src/routes/(nollning)/nollning/AccountDrawer.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Removed nollning button in navbar
  src/routes/routes.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Removed nollning button in navbar (#910)
  src/routes/routes.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add a scaffold remove button
  src/routes/(app)/expenses/ExpenseDetailView.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix styling
  src/routes/(app)/expenses/ExpenseDetailView.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Added back translation that was removed accedentally in my previous commit
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Added overview of positions
  src/routes/(app)/positions/+page.server.ts
  src/routes/(app)/positions/+page.svelte
  src/routes/(app)/positions/UpdatePositionAttributesForm.svelte
  src/routes/(app)/positions/[id]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Added translations to UpdatePositionAttributesForm
  src/routes/(app)/positions/UpdatePositionAttributesForm.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint
