Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Set normal cursor for door deletion modal background
  src/routes/[[lang=lang]]/admin/doors/edit/[slug]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove primary outline from admin input text fields
  src/routes/[[lang=lang]]/admin/access/[apiName]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Simplify lang route param matcher
  src/params/lang.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Use ternary for deletedAt song query
  src/routes/[[lang=lang]]/songbook/[slug]/+layout.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add cancel buttons when editing songs
  src/routes/[[lang=lang]]/songbook/[slug]/edit/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix buggy songbook form behaviour
  src/routes/[[lang=lang]]/songbook/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix full page reload for cancel button on song edit form
  src/routes/[[lang=lang]]/songbook/[slug]/edit/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Enable selection of multiple song categories
  src/routes/[[lang=lang]]/songbook/+page.server.ts
  src/routes/[[lang=lang]]/songbook/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Preserve old slug when editing songs
  src/routes/[[lang=lang]]/songbook/[slug]/edit/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Avoid warning about an unknown error occuring
  src/lib/utils/access.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Create, delete and update songs (#121)
  src/database/migrations/20240115231946_add_song_slug_and_deleted_at/migration.sql
  src/database/schema.prisma
  src/database/seed/accessPolicies.ts
  src/lib/components/Autocomplete.svelte
  src/lib/components/Input.svelte
  src/lib/utils/access.ts
  src/lib/utils/apiNames.ts
  src/routes/[[lang=lang]]/songbook/+page.server.ts
  src/routes/[[lang=lang]]/songbook/+page.svelte
  src/routes/[[lang=lang]]/songbook/Disclaimer.svelte
  src/routes/[[lang=lang]]/songbook/SongElement.svelte
  src/routes/[[lang=lang]]/songbook/[slug]/+layout.server.ts
  src/routes/[[lang=lang]]/songbook/[slug]/+page.svelte
  src/routes/[[lang=lang]]/songbook/[slug]/edit/+page.server.ts
  src/routes/[[lang=lang]]/songbook/[slug]/edit/+page.svelte
  src/routes/[[lang=lang]]/songbook/create/+page.server.ts
  src/routes/[[lang=lang]]/songbook/create/+page.svelte
  src/routes/[[lang=lang]]/songbook/create/helpers.ts
  src/routes/[[lang=lang]]/songbook/helpers.ts
  src/routes/[[lang=lang]]/songbook/schema.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix buggy scrollToActive for pagination component
  src/lib/components/Pagination.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Enable typed linting
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Fix lint errors in dev utils
  dev/utils.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Explicitly type data as PageData
  src/routes/[[lang=lang]]/+page.svelte
  src/routes/[[lang=lang]]/admin/access/+page.svelte
  src/routes/[[lang=lang]]/admin/access/[apiName]/+page.svelte
  src/routes/[[lang=lang]]/admin/doors/+page.svelte
  src/routes/[[lang=lang]]/admin/doors/edit/[slug]/+page.svelte
  src/routes/[[lang=lang]]/board/+page.svelte
  src/routes/[[lang=lang]]/bookings/+page.svelte
  src/routes/[[lang=lang]]/committees/+page.svelte
  src/routes/[[lang=lang]]/committees/[shortName]/+page.svelte
  src/routes/[[lang=lang]]/committees/cafe/+page.svelte
  src/routes/[[lang=lang]]/documents/+page.svelte
  src/routes/[[lang=lang]]/documents/governing/+page.svelte
  src/routes/[[lang=lang]]/documents/governing/[id]/edit/+page.svelte
  src/routes/[[lang=lang]]/documents/governing/new/+page.svelte
  src/routes/[[lang=lang]]/documents/upload/+page.svelte
  src/routes/[[lang=lang]]/dsek-wrapped/+page.svelte
  src/routes/[[lang=lang]]/events/+page.svelte
  src/routes/[[lang=lang]]/events/[slug]/+page.svelte
  src/routes/[[lang=lang]]/events/[slug]/edit/+page@.svelte
  src/routes/[[lang=lang]]/events/calendar/+page.svelte
  src/routes/[[lang=lang]]/events/create/+page@.svelte
  src/routes/[[lang=lang]]/info/[slug]/+page.svelte
  src/routes/[[lang=lang]]/info/[slug]/edit/+page.svelte
  src/routes/[[lang=lang]]/members/[studentId]/+page.svelte
  src/routes/[[lang=lang]]/members/[studentId]/edit-bio/+page.svelte
  src/routes/[[lang=lang]]/members/[studentId]/profile-picture/+page.svelte
  src/routes/[[lang=lang]]/news/+page.svelte
  src/routes/[[lang=lang]]/news/[slug]/+page.svelte
  src/routes/[[lang=lang]]/news/[slug]/edit/+page@.svelte
  src/routes/[[lang=lang]]/news/create/+page@.svelte
  src/routes/[[lang=lang]]/news/tags/+page.svelte
  src/routes/[[lang=lang]]/positions/[id]/+page.svelte
  src/routes/[[lang=lang]]/songbook/+page.svelte
  src/routes/[[lang=lang]]/songbook/[slug]/+page.svelte
  src/routes/[[lang=lang]]/songbook/[slug]/edit/+page.svelte
  src/routes/[[lang=lang]]/songbook/create/+page.svelte
  src/routes/[[lang=lang]]/webshop/+page.svelte
  src/routes/[[lang=lang]]/webshop/cart/+page.svelte
  src/routes/[[lang=lang]]/webshop/inventory/+page.svelte
  src/routes/[[lang=lang]]/yrka/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Explicitly type actions as Actions
  src/routes/[[lang=lang]]/admin/access/+page.server.ts
  src/routes/[[lang=lang]]/admin/access/[apiName]/+page.server.ts
  src/routes/[[lang=lang]]/admin/doors/edit/[slug]/+page.server.ts
  src/routes/[[lang=lang]]/bookings/+page.server.ts
  src/routes/[[lang=lang]]/documents/+page.server.ts
  src/routes/[[lang=lang]]/documents/governing/+page.server.ts
  src/routes/[[lang=lang]]/documents/governing/[id]/edit/+page.server.ts
  src/routes/[[lang=lang]]/documents/governing/new/+page.server.ts
  src/routes/[[lang=lang]]/documents/upload/+page.server.ts
  src/routes/[[lang=lang]]/events/[slug]/+page.server.ts
  src/routes/[[lang=lang]]/events/[slug]/edit/+page.server.ts
  src/routes/[[lang=lang]]/events/create/+page.server.ts
  src/routes/[[lang=lang]]/info/[slug]/edit/+page.server.ts
  src/routes/[[lang=lang]]/members/[studentId]/+page.server.ts
  src/routes/[[lang=lang]]/members/[studentId]/edit-bio/+page.server.ts
  src/routes/[[lang=lang]]/members/[studentId]/profile-picture/+page.server.ts
  src/routes/[[lang=lang]]/news/+page.server.ts
  src/routes/[[lang=lang]]/news/[slug]/+page.server.ts
  src/routes/[[lang=lang]]/news/[slug]/edit/+page.server.ts
  src/routes/[[lang=lang]]/news/create/+page.server.ts
  src/routes/[[lang=lang]]/news/tags/+page.server.ts
  src/routes/[[lang=lang]]/positions/[id]/+page.server.ts
  src/routes/[[lang=lang]]/songbook/[slug]/edit/+page.server.ts
  src/routes/[[lang=lang]]/songbook/create/+page.server.ts
  src/routes/[[lang=lang]]/webshop/+page.server.ts
  src/routes/[[lang=lang]]/yrka/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Explicitly type handle as Handle
  src/hooks.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix unawaited promises
  src/lib/files/fileHandler.ts
  src/routes/[[lang=lang]]/bookings/Calendar.svelte
  src/routes/[[lang=lang]]/news/likes.ts
  src/routes/[[lang=lang]]/positions/[id]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove unnecessary type cast
  src/routes/[[lang=lang]]/documents/governing/[id]/edit/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Minor fixes for async behaviour
  src/lib/components/SearchBar.svelte
  src/lib/files/fileHandler.ts
  src/routes/[[lang=lang]]/events/calendar/Calendar.svelte
  src/routes/[[lang=lang]]/positions/[id]/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Explicitly type load as ServerLoad
  src/routes/[[lang=lang]]/documents/+page.server.ts
  src/routes/[[lang=lang]]/documents/governing/new/+page.server.ts
  src/routes/[[lang=lang]]/documents/upload/+page.server.ts
  src/routes/[[lang=lang]]/songbook/[slug]/+layout.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add parameter typing for auth profile callback
  src/hooks.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Ensure all script tags have lang="ts"
  src/routes/DarkLightToggle.svelte
  src/routes/[[lang=lang]]/documents/governing/+page.svelte
  src/routes/[[lang=lang]]/documents/governing/[id]/edit/+page.svelte
  src/routes/[[lang=lang]]/documents/governing/new/+page.svelte
  src/routes/[[lang=lang]]/webshop/cart/+page.svelte
  src/routes/[[lang=lang]]/webshop/inventory/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix two bugs with "range" iteration
  src/database/seed/markdowns.ts
  src/lib/utils/notifications/push.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix form handling on songbook edit route
  src/routes/[[lang=lang]]/songbook/[slug]/edit/+page.server.ts
  src/routes/[[lang=lang]]/songbook/[slug]/edit/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Disable typed linting
  .eslintrc.cjs
  tsconfig.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Fix DOMPurify import
  src/lib/components/MarkdownBody.svelte
  src/routes/[[lang=lang]]/+page.server.ts
  src/routes/[[lang=lang]]/songbook/+page.server.ts
  src/routes/[[lang=lang]]/songbook/SongElement.svelte
  src/routes/[[lang=lang]]/songbook/[slug]/+layout.server.ts
  src/routes/[[lang=lang]]/songbook/[slug]/edit/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove some broken code
  src/routes/[[lang=lang]]/news/[slug]/+page.svelte
  src/routes/[[lang=lang]]/webshop/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Make database setup script more read-/understandable
  dev/setup_db.sh
Due: none

Polish database setup script
  dev/setup_db.sh
Due: none

Make database setup script more readable (#124)
  dev/setup_db.sh
Due: none

Fix slugify function
  src/lib/utils/slugify.ts
  src/routes/[[lang=lang]]/events/create/+page.server.ts
  src/routes/[[lang=lang]]/news/create/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add vitest testing framework
  package.json
  pnpm-lock.yaml
  src/lib/utils/slugify.test.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add ZenStack authorization library
  .gitignore
  package.json
  pnpm-lock.yaml
  src/database/prisma/migrations/0_init/migration.sql
  src/database/prisma/migrations/20231017133555_convert_all_explicit_many_to_many_tables_to_implicit/migration.sql
  src/database/prisma/migrations/20231017134000_remove_unused_tables/migration.sql
  src/database/prisma/migrations/20231017140309_add_relation_for_student_id_on_access_policy/migration.sql
  src/database/prisma/migrations/20231102122857_add_fields_to_committees/migration.sql
  src/database/prisma/migrations/20231102123201_make_image_urls_use_text_instead_of_varchar/migration.sql
  src/database/prisma/migrations/20231102141708_make_short_name_for_commitees_unique/migration.sql
  src/database/prisma/migrations/20231107213429_add_bio_to_members/migration.sql
  src/database/prisma/migrations/20231111024707_add_door_access_member_fk/migration.sql
  src/database/prisma/migrations/20231112115842_product_inventory_id_unique/migration.sql
  src/database/prisma/migrations/20231128182355_make_expo_token_non_nullable/migration.sql
  src/database/prisma/migrations/20240101185308_meetings/migration.sql
  src/database/prisma/migrations/20240115231946_add_song_slug_and_deleted_at/migration.sql
  src/database/prisma/migrations/20240127103036_add_zenstack/migration.sql
  src/database/prisma/migrations/migration_lock.toml
  src/database/prisma/schema.prisma
  src/database/schema.prisma
  src/database/schema.zmodel
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Add landing page authorization policies
  src/app.d.ts
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/hooks.server.ts
  src/routes/[[lang=lang]]/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Define model access policies
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
Due: none

Prevent signed out users from reading nicknames
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
Due: none

Add tests for getDerivedRoles
  src/hooks.server.helpers.ts
  src/lib/utils/authorization.test.ts
  src/lib/utils/authorization.ts
  src/lib/utils/member.ts
  src/routes/[[lang=lang]]/news/likes.ts
  src/routes/[[lang=lang]]/yrka/+page.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yaml}
  prettier --check --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yaml}
  eslint: any of: *.{js,ts,svelte}
