Repository Dsek-LTH/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

.lintstagedrc:

{
  "*.{js,ts,svelte,css,scss,postcss,md,json,yaml}": [
    "prettier --write --plugin-search-dir=.",
    "prettier --check --plugin-search-dir=."
  ],
  "*.{js,ts,svelte}": "eslint"
}

add darkmodetoggle
  package.json
  pnpm-lock.yaml
  src/routes/+layout.svelte
  src/routes/DarkmodeToggle.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add avatar
  src/lib/components/ui/avatar/avatar-fallback.svelte
  src/lib/components/ui/avatar/avatar-image.svelte
  src/lib/components/ui/avatar/avatar.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

move code out of main.go file in scheduler service
  scheduler-service/databaseHandler.go
  scheduler-service/main.go
  scheduler-service/rateLimitMiddleware.go
  scheduler-service/requestHandler.go
  scheduler-service/taskHandler.go
Due: none

read port from .env when starting scheduler service
  scheduler-service/.env
  scheduler-service/main.go
Due: none

add input and label
  src/app.css
  src/lib/components/ui/input/index.ts
  src/lib/components/ui/input/input.svelte
  src/lib/components/ui/label/index.ts
  src/lib/components/ui/label/label.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix lint
  src/routes/(app)/admin/access/positions/+page.svelte
  src/routes/(app)/elections/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add buttongroup
  src/lib/components/ui/button-group/button-group-separator.svelte
  src/lib/components/ui/button-group/button-group-text.svelte
  src/lib/components/ui/button-group/button-group.svelte
  src/lib/components/ui/button-group/index.ts
  src/lib/components/ui/separator/index.ts
  src/lib/components/ui/separator/separator.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

remove global context variable in scheduler
  scheduler-service/main.go
  scheduler-service/requestHandler.go
  scheduler-service/taskHandler.go
Due: none

add function for retrieving decrypted jwt
  src/lib/server/getDecryptedJWT.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add buttongroup (#983)
  src/lib/components/ui/button-group/button-group-separator.svelte
  src/lib/components/ui/button-group/button-group-text.svelte
  src/lib/components/ui/button-group/button-group.svelte
  src/lib/components/ui/button-group/index.ts
  src/lib/components/ui/separator/index.ts
  src/lib/components/ui/separator/separator.svelte
  src/routes/(app)/admin/access/positions/+page.svelte
  src/routes/(app)/elections/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

store user identifier with scheduled tasks
  scheduler-service/requestHandler.go
  scheduler-service/taskHandler.go
Due: none

fix file upload input
  src/lib/components/ui/input/input.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix formatting
  src/lib/components/ui/label/index.ts
  src/lib/components/ui/label/label.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add badge component
  src/lib/components/ui/badge/badge.svelte
  src/lib/components/ui/badge/index.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add pistachio
  src/app.css
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

add GET endpoint to scheduler for retrieving tasks per user
  scheduler-service/main.go
  scheduler-service/requestHandler.go
Due: none

use query params for scheduler GET auth
  scheduler-service/authMiddleware.go
Due: none

remove hardcoded values from scheduler auth
  scheduler-service/.env
  scheduler-service/authMiddleware.go
Due: none

improve JWT validation and subject handling in scheduler
  scheduler-service/.env
  scheduler-service/authMiddleware.go
  scheduler-service/requestHandler.go
Due: none

add larger badge
  src/lib/components/ui/badge/badge.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add avatar (#981)
  src/lib/components/ui/avatar/avatar-fallback.svelte
  src/lib/components/ui/avatar/avatar-image.svelte
  src/lib/components/ui/avatar/avatar.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

remove unused styles
  src/lib/components/ui/badge/badge.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add input and label components (#985)
  src/app.css
  src/lib/components/ui/input/index.ts
  src/lib/components/ui/input/input.svelte
  src/lib/components/ui/label/index.ts
  src/lib/components/ui/label/label.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add badge component (#986)
  src/app.css
  src/lib/components/ui/badge/badge.svelte
  src/lib/components/ui/badge/index.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add non interactive base calendar component Also update CommiteePage to svelte5, which breaks all other comittee pages. Please fix later!
  src/lib/components/home/CafeOpenTimes.svelte
  src/routes/(app)/committees/CommitteePage.svelte
  src/routes/(app)/committees/cafe/+page.svelte
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Move calendar into own component
  src/routes/(app)/committees/cafe/+page.svelte
  src/routes/(app)/committees/cafe/CafeBookingCalendar.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add checkbox component
  src/lib/components/ui/checkbox/checkbox.svelte
  src/lib/components/ui/checkbox/index.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Replace default styles for links with utility
  src/app.css
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Update svelte packages
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Turn off no-navigation-without-resolve
  eslint.config.mjs
Due: none

Update devalue patch
  package.json
  patches/devalue@5.5.0.patch
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Fix type errors from Svelte update
  src/lib/events/server/interestedGoing.ts
  src/lib/zod/comments.ts
  src/routes/(app)/news/likes.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Make layout-container utility for intellisense
  src/app.css
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Various small fixes for new design (#995)
  eslint.config.mjs
  package.json
  patches/devalue@5.5.0.patch
  pnpm-lock.yaml
  src/app.css
  src/lib/events/server/interestedGoing.ts
  src/lib/zod/comments.ts
  src/routes/(app)/news/likes.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Prefer non-relative import suggestions
  .vscode/settings.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Attempt att persistent language
  src/database/prisma/migrations/20251117153511_init/migration.sql
  src/database/prisma/schema.prisma
  src/database/schema.zmodel
  src/database/seed/.snaplet/dataModel.json
  src/lib/utils/languages.ts
  src/lib/zod/schemas.ts
  src/routes/(app)/members/[studentId]/+page.server.ts
  src/routes/(app)/members/[studentId]/UpdateMemberForm.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

badabing
  src/hooks.server.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Attempt at persistent language
  src/hooks.server.ts
  src/translations/en.json
  src/translations/sv.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint
